.admin-wrapper{
	background:$grayLight;
	.menu-container{
		width: 25.5%;
		border-right: 1px solid #d0d2d3;
		min-height: 90vh;
		.inner{
			padding: 30px 0px 0px 50px;
		}
		ul li{
			display: block;
			a{
				font-family: Raleway;
				text-transform: uppercase;
				transition: all .15s linear;
				&:hover{
					color:$orange;
				}
			}
		}
		.main-menu > li{
			padding:35px 20px 35px 50px;
			border-bottom:1px solid #d0d2d3;
			a{
				color:#808184;
				font-size: 1.1rem;
				letter-spacing: 2px;
			}
			span{
				position:relative;
				&:before{
					position:absolute;
					color:$orange;
					font-family: FontAwesome;
					font-size: 2rem;
					left: -40px;
					top:-5px;
				}
			}
			span.reportes:before{
				content:'\f115';
			}
			span.usuarios:before{
				content:'\f007';
			}
			span.polizas:before{
				content:'\f0f6';
			}
			@include for-phone-only{
				padding: 35px 20px 35px 20px;
				span:before{
					font-size: 1.2rem;
					left: -20px;
					top:-3px;
				}
			}
		}
		ul.sub-menu > li{
			padding:10px 0 10px 20px;
			&:first-child{
				padding-top: 25px;
			}
			a{
				font-size: 1rem;
			}
		}
		ul.sub-menu{
			display: none;
		}
		@media screen and (max-width:1000px){
			width: 100%;
			min-height: auto;
			ul{
				display: flex;
				width: 100%;
				justify-content: space-around;
			}
			.inner{
				padding:0 10px;
			}
		}
	}
	.content{
		width: 74%;
		.inner{
			padding:50px;
		}
		h1{
			font-size: 1.5rem;
			letter-spacing: 3px;
			color:#808184;
		}
		@media screen and (max-width:1000px){
			width: 100%;
			.inner{
				padding:50px 20px;
				.separator{
					height: 30px;
				}
			}
		}
	}
	.container{
		display: flex;
		flex-wrap: wrap;
	}
	.top-bar .container{
		display: flex;
		width: 100%;
		justify-content: space-between;
		align-items: center;
		.buscar{
			width: 40%;
			label{
				position:relative;
				&:after{
					content:'\f002';
					position:absolute;
					font-family: FontAwesome;
					color:$orange;
					left: 10px;
					bottom:10%;
				}
			}
			input{
				padding-left:40px;
				height: 35px;
				width: calc(100% - 40px);
				border: 1px solid #d0d2d3;
				outline: none;
				transition: all .15s linear;
				font-family: Raleway;
				&:focus{
					border-color:$orange;
				}
			}
			
		}
		@include for-phone-only{
			.buscar{
				width: 100%;
				padding-top:30px;
			}
		}
	}

}
table.admin{
	width: 100%;
	border: 1px solid #d0d2d3;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    table-layout: fixed;
	thead{
		background:#626363;
		th{
			text-align: center;
			border-left: 1px solid $orange;
			padding:20px 0;
			span{
				font-family:'Orson Light';
				font-weight: 100;
				color:$white;
				text-transform: uppercase;
				letter-spacing: 2px;
				position:relative;
				&:before{
					position:absolute;
					color:$orange;
					font-family: FontAwesome;
					font-size: 1.5rem;
					left: -35px;
					top:-7px;
				}
			}
			span.nombre:before{
				content:'\f007';
			}
			span.correo:before{
				content:'\f003';
			}
			span.venta:before{
				content:'\f155';
			}
		}
	}
	tbody{
		tr{
			border-bottom: 1px solid #d0d2d3;
		}
		td{
			text-align: left;
			padding:15px 10px;
			font-family: Raleway;
			letter-spacing: 1px;
			font-size: 1rem;
			color:#231f20;
			border-left: 1px solid #d0d2d3;
			&:last-child{
				text-align: center;
			}
		}
	}
	@media screen and (max-width: 1000px) {
		border: none;
		thead{
			border: none;
			clip: rect(0 0 0 0);
			height: 1px;
			margin: -1px;
			overflow: hidden;
			padding: 0;
			position: absolute;
			width: 1px;
		}
		tr{
			border-bottom: 2px solid #c8c7c7;
			display: block;
			margin-bottom: 20px;
		}
		td{
			border-bottom: 2px solid #c8c7c7;
			display: block;
			text-align: right!important;
			font-size: 1.1rem;
			border-right: .5px solid #c8c7c7;

			a{
				color:inherit;
			}
			&:before{
				content: attr(data-label);
			    float: left;
			    font-family:'Orson Light';
			    font-weight: 100;
			    color:$orange;
			    letter-spacing: 1px;
			    font-size: 1rem;
			    text-transform: uppercase;
			}
			&:first-child{
				border-top:1px solid #c8c7c7;
			}
		}
		tr:nth-of-type(2n){
			td{
				background:#626363;
				color:white!important;
				&:before{
					color:white;
				}
			}
		}
	}
}

.form-container .inner-container{
	padding:0 0 0 10px;
}
form.form-admin{
	h2{
		font-family:Raleway;
		font-size: 1.2rem;
		font-weight: 100;
		letter-spacing: 1px;
		color:$orange;
		text-transform: uppercase;
	}
	input,select{
		font-family:'Avant Book';
		color:$black;
		font-size: 1rem;
		letter-spacing: .5px;
		border:1px solid #6d6e70;
		padding:5px 10px;
		width: calc(100% - 20px);
		height: 20px;
		margin:0;
		background:white;
		-webkit-appearance: none;
		outline: none;
		transition: all .15s linear;
		&:focus{
			border-color:$orange;
		}
	}
	select{
		width: 100%;
		height: 30px;
		border-radius:0;
	}
	label{
		display: block;
		font-family: Raleway Light;
		font-weight: 100;
		font-size: 1rem;
		color:#808184;
		line-height: 2rem;
	}
	.row{
		padding:10px 0;
		display: flex;
		width: 100%;
		justify-content: space-between;
		align-items:center;
		flex-wrap: wrap;
		.input12{
			width: 48%;
		}
	}
	.input.row-inline.nacimiento{
		position:relative;
		input{
			width: 26%;
		}
	}
	.input.row-inline.direccion{
		flex-wrap: wrap;
		.input{
			width: 32%;
		}
	}
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button{
		-webkit-appearance: none;
	}
	.half-separator{
		height: 20px;
	}
	input[type="submit"]{
		height: auto;
		width: auto;
		box-shadow:none;
		color:white;
		border-radius:.8rem;
		padding:10px 20px;
		text-transform: uppercase;
		letter-spacing: 2px;
		background:$orange;
		border-color:transparent;
		&:hover{
			padding:10px 20px;
			background:darken($orange,10);
			border-bottom:0;
		}
	}
	label.error{
		font-size: 12px!important;
		color: #FF5722!important;
	}
	
}
@include for-phone-only{
	form.form-admin .input.row-inline.direccion .input, form.form-admin .row .input12{
		width:100%;
	}	
	form.form-admin input[type="submit"]{
		margin-top: 30px;
	}
}