.avisos-container{
	h3{
		color:$orange;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-family:'Raleway';
		font-weight: 600;
		font-size: 1.1rem;
		line-height: 2rem;
	}
	p,li{
		font-family:'Raleway';
		font-weight: 100;
		color:#808184;
		font-size: 1rem;
		line-height: 1.5rem;
	}
	br{
		line-height: 2rem;
	}
	ul{
		margin-top: 10px;
		padding-left: 30px;
	}
	li{
		position:relative;
		margin-bottom: 10px;
		&:before{
			content:'\f192';
			font-family: FontAwesome;
			position:absolute;
			left: -15px;
			color:$orange;
		}
	}
	strong{
		font-weight: 900;
	}
	a{
		color:$orange;
	}
}
