select.line{
	border-radius: 0;
	border:1px solid #6d6e70;
	-webkit-appearance: none;
	height: 30px;
	padding:0 10px;
	background:transparent;
	outline:none;
	transition: all .15s linear;
	letter-spacing: 1px;
	cursor:pointer;
	&:focus{
		border-color:$orange;
	}
}
section.cotizaciones{
	.datos-vehiculo{
		background: $orange;
		padding:30px 5%;
		margin-top:-10px;
		.ocultar-descripcion{
			display: none;
		}
		.wrapper{
			display: flex;
			justify-content: space-around;
			width: 100%;
			flex-wrap: wrap;
			div{
				width: 20%;
			}
			
			h3{
				text-align: left;
				color:$white;
				font-family: Raleway Light;
				font-weight: 100;
				font-size: 1rem;
				text-transform: none;
				letter-spacing: initial;
				line-height: 2rem;
			}
			p{
				font-family:'Orson Light';
				color:$white;
				text-transform: uppercase;
				font-size: 1.5rem;
				letter-spacing: 2px;
			}

			div.descripcion{
				//width: 100%;
				//padding-top:15px;
				p{
					font-size: 1rem;
					letter-spacing: initial;
					font-family: Raleway;
				}
			}
		}
		@include for-phone-only{
			padding: 30px 0;
			.wrapper div{
				width: 100%;
    			padding: 8px 20px;
			}
			.ocultar-descripcion{
				display: block;
				text-align: center;
				i{
					font-size: 3rem;
					color: white;
					cursor:pointer;
				}
			}
		}
	}
	.datos-vehiculo.no-padded{
		padding:0;
	}
	.personaliza-tu-seguro{
		padding:4% 0;
		text-align: center;
		background:$white;
		@include for-phone-only{
			padding:40px 0;
			.half-separator{
				height: 30px;
			}
		}
		h1{
			color:$orange;
			text-transform: uppercase;
			font-size: 1.8rem;
			letter-spacing: 4px;
			font-family:'Orson Light';
			font-weight: 100;
			@include for-phone-only{
				font-size: 1.5rem;

			}
		}
		form.datos-seguro{
			.wrapper{
				display: flex;
				justify-content: space-around;
				align-items:flex-end;
				width:80%;
				margin:0 auto;
				@include for-phone-only{
					width:100%;
					flex-wrap: wrap;
					.enviar{
						width: 100%;
						margin-top: 30px;

					}
				}
				div{
					text-align: left;
					//width:180px;
					@include for-phone-only{
						width: 31%;
					}
				}
				label{
					display: block;
					font-family: Raleway Light;
					font-weight: 100;
					font-size: 1rem;
					color:#808184;
					padding-left:5px;
					position:relative;
					&:after{
						content: '\f107';
						right: 10px;
						position: absolute;
						bottom: -33px;
						font-family: FontAwesome;
						font-weight: 100;
					}

				}
				select{
					width:15.15vw;
					margin-top: 10px;
					@include for-phone-only{
						width: 100%;
					}
				}
			}
			input[type="submit"]{
				background:$orange;
				color:$white;
				text-transform: uppercase;
				letter-spacing: 4px;
				margin:0;
				&:hover{
					background:darken($orange,10);
				}
				@include for-phone-only{
					margin:0 auto;
				}
			}
		}
	}
	.cotizaciones-obtenidas{
		background:#f1f1f2;
		padding:50px 0;
	}
	.cotizaciones-obtenidas .ordenar{
		display: flex;
		justify-content: space-between;
		width:75%;
		margin:0 auto;
		@include for-tablet-portrait-down{
			width: 90%;
		}
		@include for-phone-only{
			flex-wrap: wrap;
			.filtro{
				margin-top: 30px;
			}
		}
		h2{
			font-weight: 100;
			color:$orange;
			font-size: 1.8rem;
			letter-spacing: 4px;
			font-family:'Orson Light';
			text-transform: uppercase;
		}
		.filtro{
			position:relative;
			label{
				position: absolute;
				left: 10px;
				top: 7px;
				font-family: Raleway Light;
				font-weight: 100;
				font-size: 1rem;
				color: #808184;
				&:after{
					content: '\f107';
					right: -200px;
					position: absolute;
					bottom: -1px;
					font-family: FontAwesome;
					font-weight: 100;
					@include for-big-desktop-up{
						right: -187px;
					}
				}
			}
		}
		select{
			padding-left:100px;
			width: 300px;
			@include for-big-desktop-up{
				padding-left:120px;
			}
		}
	}
	.tabla-cotizaciones{
		.logo{
			padding:0 50px;
			border-right:1px solid #d0d2d3;
			transition: all .15s ease-in-out;

			img{
				width: 140px;
				
			}

			@media screen and (max-width:1024px){
				padding:0 15px;
				img{
					width:100px;
				}
			}
			@include for-phone-only{

				border-right:none;
				padding:0;

				img{
					width: 100px;
				}
			}
		}

		.logo-add{
			max-width: 200px;
			margin:10px 0;
		}
		.fila{
			display: flex;
			width:75%;
			margin:0 auto;
			justify-content: space-between;
			align-items:center;
			border-bottom:1px solid #d0d2d3;
			flex-wrap: wrap;
			&:first-child{
				border-top:1px solid #d0d2d3;
			}
			@include for-tablet-portrait-down{
				width: 90%;
			}
			label{
				display: block;
				font-family: Raleway Light;
				font-weight: 100;
				font-size: 1rem;
				color: #808184;
			}
			span{
				display: block;
				font-family: Raleway;
				font-weight: 400;
				font-size: 1.5rem;
				color: #808184;
			}
			span.precio{
				font-family:'Quicksand Bold';
				color:#808184;
				font-size: 1.8rem;
			}
			span.dental{
				position:relative;
				padding-left: 30px;
				&:before{
					position:absolute;
					content:url('../img/aseguradoras/salud-bucal.svg');
					width: 20px;
					left: 0px;
				}
			}

		}
		@include for-phone-only{
			.fila > div:not(.detalles-cobertura){
				width: 50%;
				text-align: center;
			}
		}
		.fila.active{
			.logo{
				border-color:transparent;
			}
		}

		.btn-orange{
			box-shadow:none;
			border-bottom:none;
			border-radius:.8rem;
			letter-spacing: 2px;
			padding:10px 25px;
			width: 140px;
			display: block;
			text-align: center;
			@include for-big-desktop-up{
				width: 160px;
			}
			@media screen and (max-width:1024px){
				width: 115px;
			}
			@include for-tablet-portrait-down{
				width: 140px;
				padding:10px 15px;
			}
			@include for-phone-only{
				width: 115px;
				margin:0 auto 20px auto;
				padding: 10px 12px;
			}
		}
		.detalles-cobertura{
			width:100%;
			.fila{
				width: 100%;
				.nombre{
					width: 40%;
					border-right:1px solid #d0d2d3;
					.content{
						padding:20px 0 20px 32px;
					}
					@include for-phone-only{
						width: 50%;
						label{
							font-size: 10px;
						}
						span{
							font-size: 1.2rem;
						}
					}

				}
				.descripcion{
					width: 58%;
					.content{
						padding: 20px 50px 20px 65px;
						span{
							position:relative;
							&:after{
								content:'\f00c';
								font-family: FontAwesome;
								color:$orange;
								position:absolute;
								right: -10px;
								font-size: 1.5rem;
							}
						}
					}
					@include for-phone-only{
						width:48%;
						.content{
							padding:20px 10px 20px 16px;
						}
					}
				}
			}
		}
	}

}