section.cotizar{
	.content.background-gray{
		padding:50px;
		margin-top: -15px;
		@media screen and (max-width:1200px){
			padding: 50px 25px;
		}
		@include for-tablet-portrait-down{
			padding:50px 20px;
		}
	}
	.datos-vehiculo{
		.col13{
			position:relative;
			.container{
				padding:0 65px 30px 65px;
				@media screen and(max-width:1200px){
					padding:0 15px 30px 15px;
				}
			}
			.imgCenter img{
				max-width: 180px;
				@media screen and(max-width:1100px){
					max-width: 120px;
				}
			}

			&:after{
				right: 0;
				content: '';
				width: 1px;
				height: 100%;
				position:absolute;
				background:#d0d2d3;
				top:0;
				@include for-phone-only{
					width:0;
				}
			}
			&:before{
				content: '';
				width: 80%;
				height: 1px;
				position:absolute;
				background:#d0d2d3;
				left:10%;
				bottom:0;
				@include for-phone-only{
					width:100%;
					left: 0;
				}
			}
			&:nth-of-type(3n):after,&:nth-child(7):before,&:nth-child(8):before,&:nth-child(9):before{
				width: 0;
				@include for-phone-only{
					width:100%;
					height: 1px;
					left: 0;
				}
			}
			@include for-phone-only{
				width: 100%;
			}
		}
		.input.row-inline.nacimiento{
			position:relative;
			input{
				width: 23%;
    			padding: 0 5px;
			}
			label.error{
				position: absolute;
    			bottom: -20px;
			}
		}

	}
	@include for-tablet-portrait-down{
		.datos-vehiculo + .half-separator{
			height: 0;
		}
	}
	h1{
		font-family:'Orson Light';
		text-transform: uppercase;
		font-weight: 100;
		letter-spacing: 5px;
		color:#808184;
		@include for-phone-only{
			margin-bottom: 50px;
		}
	}
	
	select{
		letter-spacing: 1px;
		font-family: Raleway;
	}

}