section.conductor{
	.conductor-icon{
		width: 150px;
		@include for-phone-only{
			width: 100px;
		}
	}
	form .container{
		max-width: 50%;
		margin:0 auto;
		input:not([type="submit"]){
			height: 35px;
			width: calc(100% - 60px);
		}
		input[type="number"]{
			width: calc(100% - 60px);
		}
		label{
			font-family: Raleway Light;
			font-weight: 100;
			font-size: 1rem;
			color: #808184;
		}
		label.error{
			font-size: 12px!important;
			color: #FF5722!important;
		}

		@include for-tablet-portrait-down{
			max-width: 70%;
		}
		@include for-phone-only{
			max-width: 100%;
		}
	}
	.padded{
		margin-top: -15px;
	}
	h1{
		color:#808184;
		margin: 30px 0;
		span:before,span:after{
			height: 2px;
		}
		@include for-phone-only{
			font-size: 1.5rem;
    		letter-spacing: 2px;
    		span:before,span:after{
				height: 2px;
				width: 15px;
				
				top: 5px;

			}
			span:before{
				left: -10px;
			}
			span:after{
				right: -10px;
			}
		}
	}
	.cotizador .row-equal{
		justify-content: space-between;
		.col{
			width: 100%;
		}
		.col12{
			width: 48.5%;
		}
		.col13{
			width: 32%;
			@include for-phone-only{
				width: 100%;
			}
		}
		div{
			margin-bottom: 25px;
		}
	}
	
}