section.emitir{
	@include for-tablet-portrait-down{
		.padded{
			padding:150px 20px 150px 20px;
		}
	}
	@include for-phone-only{
		.padded{
			padding:50px 20px 50px 20px;
		}
	}
	.content{
		margin-top: -15px;
	}
	form{
		img{
			width: 100px;
		}
		input:not([type="submit"]){
			    margin: 20px auto 10px auto;
			    max-width: 70%;
		}
	}
	.col12{
		position:relative;
		.container{
			padding:0 50px;
		}
		&:first-child:after{
			content: '';
			position:absolute;
			width: 1px;
			background: $black;
			height: 100%;
			top:0;
			right: 0;
		}
		@include for-phone-only{
			width: 100%;
			margin-bottom: 35px;
			&:first-child:after{
				width: 0;
			}
		}
	}
}