/************* fonts **************/
@font-face{
	font-family:'Orson Light';
	src: url('../fonts/SF-Orson-Casual-Light.ttf') format('truetype');
}
@font-face{
	font-family:'Avant Book';
	src: url('../fonts/itc-avant-garde-gothic-std-book.otf') format('opentype');
}
@font-face{
	font-family:'Raleway';
	src: url('../fonts/Raleway-Regular.ttf') format('truetype');
}
@font-face{
	font-family:'Raleway Light';
	src: url('../fonts/Raleway-Light.ttf') format('truetype');
}

@font-face{
	font-family:'Quicksand Bold';
	src: url('../fonts/Quicksand-Bold.otf') format('opentype');
}


