.footer-wrapper{
	background: url(../img/contactanos-easy_insurance.jpg) no-repeat center center fixed; 
	@include cover();
	padding:50px 0;
	.row-inline{
		align-items: center;
		.col12{
			width: 60%;
		}
		.col12:first-child{
			width: 40%;
			h2.title{
				font-size: 2rem;
				letter-spacing: 2px;
				position:relative;
				&:before,&:after{
					content: '';
					position:absolute;
					width: 50px;
					height: 2px;
					background:$orange;
					top:10px;
				}
				&:before{
					left: 40px;
				}
				&:after{
					right: 40px;
				}
			}
		}	
	}
	.row-form{
		justify-content: space-between;

		.form-container{
			width: calc((100%/3)*2);
			padding-left: 10%;
			position:relative;
			&:before{
				position:absolute;
				content: '';
				width: 1px;
				height: 120%;
				background:white;
				left:-5px;
				top:-10%;
			}
		}
	}
	.item-contacto{
		img{
			width: 50px;
		}
		margin-bottom: 45px;
		
	}
	@include for-phone-only{
		.ubicacion-container{
			width: 100%;
			display: flex;
			justify-content: space-between;
		}
		.item-contacto{
			margin-bottom:10px;
		}
	}
	.revisa-tu-poliza{
		width: 160px;
	}
	.btn-white{
		font-size: 1.2rem;
		letter-spacing: 1px;
		padding:5px 40px;
	}
}
.bottom_footer{
	background:$orange;
	padding:20px 50px;
	.row-inline{
		align-items:center;
	}
	.metodos_pago{
		width:45%;
		img{
			width:20%;
		}
	}
	.avisos{
		ul li{
			padding:0 20px;
			display: inline-block;
			a{
				color:$white;
				text-transform: uppercase;
				font-family:'Orson Light';
				letter-spacing: 2px;
				font-style: italic;
				transition: all .2s linear;
				&:hover{
					color:darken($orange,30);
				}
			}
		}
	}
	@include for-tablet-portrait-down{
		padding:20px;
		.row-inline{
			flex-wrap: wrap;
		}
		.social-media{
			width:100%;
			order:0;
		}
		.metodos_pago, .avisos{
			order:1;
			width:49%;
			ul li{
				padding:20px 5px;
				a{
					font-size: 12px;
				}
			}
			img{
				width:24%;
			}
		}
	}
	@include for-phone-only{
		padding:20px 10px;
		.metodos_pago{
			width: 100%;
			order:2;
			img{
				width: 25%;
			}
		}
		.avisos{
			order:1;
			width:100%;
			ul{
				display: flex;
				justify-content: space-between;
				padding:15px 0;
				li{
					padding:20px 0;
					a{
						font-size: 12px;
						letter-spacing: 1px;

					}
				}
			}
		}
		
	}
}
@include for-tablet-portrait-down {
	.footer-wrapper .row-inline .col12:first-child{
		width:100%;
		margin-bottom:50px;
		h2.title{
			letter-spacing: 8px;
		}
	}
	.footer-wrapper .row-inline .col12{
		width:100%;
	}
	.footer-wrapper .row-form .form-container{
		padding-left: 20px;
		.title{
			font-size: 2rem;
			letter-spacing: 8px;
		}
	}
	.footer-wrapper{
		padding: 0;
		background: url(../img/contactanos-easy_insurance.jpg) no-repeat center center;
		@include cover();
		.row-inline{
			flex-wrap: wrap;
		}
		.revisa-tu-poliza{
			width:100px;
		}
		.btn-white{
			font-size: 1.2rem;
			letter-spacing: 5px;
			padding: 5px 24px;
		}
		input[type="submit"]{
			text-transform:uppercase;
			letter-spacing: 4px;
		}
	}
	.footer-wrapper .row-form .form-container:before{
		width:0;
	}
}
@include for-phone-only{
	.footer-wrapper .row-inline .col12:first-child h2.title:before{
		left:15px;
	}
	.footer-wrapper .row-inline .col12:first-child h2.title:after{
		right:15px;
	}
	.footer-wrapper .row-inline .col12:first-child h2.title:before, .footer-wrapper .row-inline .col12:first-child h2.title:after{
		top:30px;
		width:30px;
	}
	.footer-wrapper .row-form .form-container{
		padding:0;
		width: 100%;
		margin-bottom: 30px;
	}
}