form.cotizador{
	select,input:not([type="submit"]){
		width: calc(100% - 60px);
		border:1px solid #808184;;
		background:$white;
		-webkit-appearance: none;
		color:$black;
		-moz-border-radius:0;
		-webkit-border-radius: 0;
		border-radius: 0;
		height: 30px;
		padding:0 30px;
		transition:all .15s linear;
		outline: none;
		cursor:pointer;
		margin:0;
		font-family:'Avant Book';
		text-align-last: center;
		text-align: center;
		&:focus{
			border-color:$orange;
		}
		&:hover{
			border-color:$orange;
		}
	}
	input[type="number"]{
		width:calc(100% - 60px);
	}
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button{
		-webkit-appearance: none;
	}
	input[type="submit"]{
		border:none;
		border-radius:0;
		-webkit-appearance: none;
		color:$orange;
		font-family:'Orson Light';
		text-transform: uppercase;
		font-size: 1.5rem;
		letter-spacing: 2px;
		position: relative;
		float: right;
		&:hover{
			color:$white;
		}

	}
	h3{
		font-family:'Orson Light';
		text-transform: uppercase;
		font-weight: 400;
		letter-spacing: 3px;
		line-height: 3rem;
		@include for-tablet-portrait-down{
			letter-spacing: 1px;
		}
		span{
			position:relative;
			&:after, &:before{
				content:'';
				position:absolute;
				background:$orange;
				width: 15px;
				left: -40px;
				height: 1.5px;
				top:5px;
				@include for-tablet-portrait-down{
					left: -20px;
					top: 4px;
					width: 10px;
				}
			}
			&:after{
				left: initial;
				right: -40px;
				@include for-tablet-portrait-down{
					right: -20px
				}
			}
		}
	}
	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		font-family:'Avant Book';
		color:$black;
		font-size: 1rem;
		letter-spacing: .5px;
		text-align: center;
	}
	::-moz-placeholder { /* Firefox 19+ */
		font-family:'Avant Book';
		color:$black;
		font-size: 1rem;
		letter-spacing: .5px;
		text-align: center;
	}
	:-ms-input-placeholder { /* IE 10+ */
		font-family:'Avant Book';
		color:$black;
		font-size: 1rem;
		letter-spacing: .5px;
		text-align: center;
	}
	:-moz-placeholder { /* Firefox 18- */
		font-family:'Avant Book';
		color:$black;
		font-size: 1rem;
		letter-spacing: .5px;
		text-align: center;
	}
	@include for-phone-only{
		.half-separator{
			height: 0;
		}
		input[type="color"],
		input[type="date"],
		input[type="datetime"],
		input[type="datetime-local"],
		input[type="email"],
		input[type="month"],
		input[type="number"],
		input[type="password"],
		input[type="search"],
		input[type="tel"],
		input[type="text"],
		input[type="time"],
		input[type="url"],
		input[type="week"],
		select:focus,
		textarea {
		  font-size: 16px;
		}
	}

}

/************ calendario *********/

.ui-datepicker th{
	font-family: 'Orson Light';
    color: #ee8b48;
}
.ui-widget-header{
	background: #f1f1f2;
}
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year{
	font-family: Avant Book;
    text-transform: uppercase;
    letter-spacing: 2px;
}