.gracias-por-tu-pago{
	background: url('../img/easy_insurance-gracias_por_tu_pago.jpg') no-repeat center center fixed; 
	@include cover();
	padding:10vh 50px 18vh 50px;
	.image-logo img{
		width: 250px;
	}
	p.white{
		color:white;
	}
	.btn-orange{
		letter-spacing: 2px;
		cursor:pointer;
	}
}