/************** slider ********/
.slick-slide{
	outline:none;
}
.slide{
	
	position:relative;
	height: 100vh;
	@include for-phone-only{
		height: 100vh;
	}
	@include for-tablet-portrait-down {
		height: 50vh;
	}
	.caption{
		margin: auto;
		position: absolute;
		top: 0; left: 0; bottom: 0; right: 0;
		height: 00px;
		text-align: center;
		@include for-tablet-portrait-up{
			width: 400px;
		}
		@include for-desktop-up{
			width: 600px;
		}
		@include for-big-desktop-up{
			width: 800px;
		}

		h3{
			text-transform: uppercase;
			color:white;
			font-size: 2.2rem;
			font-family:'Orson Light';
			letter-spacing: 9px;
			text-shadow: 2px 3px rgba(0,0,0,.2);
			@include for-tablet-portrait-up{
				font-size: 2rem;
				letter-spacing: 6px;
			}
		}
		img{
			width: 366px;
			@include for-phone-only {
				width: 250px;
			}
		}
		.btn-orange{
			font-size:1.6rem;
			letter-spacing:5px;
			padding:15px 25px;

		}
		.container{
			position:relative;
			&:after{
				content: '';
				position:absolute;
				height: 1px;
				width: 30px;
				background:$white;
				right:-100px;
				top:50px;
				@include for-phone-only {
					width:0;
				}
			}
			&:before{
				content: '';
				position:absolute;
				height: 1px;
				width: 30px;
				background:$white;
				left:-100px;
				top:50px;
				@include for-phone-only {
					width:0;
				}
			}

		}
	}
}
.slide-1{
	background: url(../img/slider/slide-1.jpg) no-repeat center center; 
	@include cover();
	.caption{
		right: -1%;
		margin: initial;
		left: initial;
		top: 31%;
		.container:before,.container:after{
			content:none;
		}
		@include for-phone-only {
			.half-separator{
				height: 100px;
			}
		}
	}
}
.slide-2{
	background: url(../img/slider/slide-2.jpg) no-repeat center center; 
	@include cover();
	.caption{
		
		@include for-big-desktop-up{
			width: 1000px;
		}
		@include for-tablet-portrait-up{
			width: 400px;
		}
		@include for-desktop-up{
			width: 800px;
		}
		.row-inline{
			justify-content: center;
			align-items:center;
			.imgCenter{
				margin-left: 30px;
			}
		}
		@include for-phone-only{
			.container{
				top: -100px;
			}
			.row-inline .imgCenter{
				margin-left: 0;
			}
			.half-separator {
			    height: 40px;
			}
		}
	}
}
.slide-3{
	background: url(../img/slider/slide-3.jpg) no-repeat center center; 
	@include cover();
	.row-inline{
		justify-content: center;
		align-items:center;
		img{
			margin-top: -9px;
		}
	}
	@include for-phone-only {
		.container{
			top: -100px;
		}
		.row-inline{
			flex-wrap: wrap;
		}
	}

}
section.inicio{
	.slick-slider .slick-track, .slick-slider .slick-list{
		height: 100vh;
		@include for-tablet-portrait-down {
			height: 50vh;
		}
		@include for-phone-only{
			height: 100vh;
		}
	}
	.slick-dotted.slick-slider{
		margin-bottom:0!important;
	}
	.slick-dots{
		bottom:80px!important;
	}
	.slick-dots li button:before{
		color:white!important;
		font-size: 13px!important;
	}
	.slick-dots li.slick-active button:before {
	    color: #ffffff!important;
	}
}
/********** cotiza ahora ************/
section.cotizar-seguro{
	background:$orange;
	.steps-container{
		padding:30px 50px 0 50px;
		@include for-tablet-portrait-up{
			padding: 30px 0px 0 0px;
		}
	}
	.padded{
		position:relative;
		.triangle{
			width: 0;
			height: 0;
			border-left: 70px solid transparent;
			border-right: 70px solid transparent;
			border-bottom: 47px solid $orange;
			position: absolute;
			top: -46px;
			left: 50%;
			-webkit-transform: translateX(-50%);
			transform: translateX(-50%);
		}
	}
	.row-inline{
		align-items:flex-start;
		.col15{
			width: calc(100%/5);
			cursor:pointer;
			img{
				width:110px;
				transition: all .25s ease-in-out;
				margin-bottom: 30px;
			}

			.number{
				span{
					color:$orange;
					font-family:'Orson Light';
					line-height: 30px;
				}
				margin:0 auto 20px auto;
				background:$white;
				border-radius:100%;
				width: 30px;
				height: 30px;
				border-bottom:2px solid darken($orange,10%);
				transition: all .15s ease-in-out;
			}
			p{
				text-transform: uppercase;
				font-family:'Orson Light';
				color:$white;
				letter-spacing: 1px;
				transition: all .25s ease-in-out;
			}
			&:hover{
				.number{
					background:darken($orange,4%);
					span{
						color:$white;
					}
				}
				img{
					transform: scale(1.1);
				}
				
			}
		}
	}
}

/************* servicios ****************/
section.nuestros-servicios{
	.slick-dots li button:before{
		font-size: 15px;
	}
	.slick-dots li.slick-active button:before{
		color:$orange;
	}
	.row-inline{
		flex-wrap: wrap;
	}
	.padded{
		padding:50px;
	}
	.col14{
		width:calc(100%/4.3);
		background:$grayLight;
		position: relative;
    	padding-bottom: 20px;
		@include for-big-desktop-up{
			width:calc(100%/4.5);
		}
		@include for-notebook-down{
			width:calc(100%/4.3);
		}
		@include for-tablet-portrait-down{
			width: 48.5%;
			margin-bottom: 4%;
			h2{
				font-size: 1.3rem!important;
			}
		}
		
		.container{
			padding:20px;
			h2{
				font-size: 1rem;
				font-family: 'Raleway';
				color:$brown;
				text-transform: uppercase;
			}
			.line-title{
				background:$brown;
				width: 30px;
				height: 1px;
				margin: 5px auto 15px auto;
			}
			p{
				font-family:'Raleway';
				color:$brown;
				font-size: 1rem;
				line-height: 1.5rem;
			}
			img{
				max-width: 70%;
				margin-bottom: 15px;
			}
			a{
				color:$orange;
				font-family:'Calibri';
				border:1px solid $orange;
				padding: 7px 30px 7px 20px;
    			border-radius: 1rem;
    			transition: all .15s linear;
    			
				span{
					position:relative;
					font-size:1.5rem;

					&:after{
						content: '+';
						color:$orange;
						font-family:'Calibri';
						right:-15px;
						top:2px;
						position:absolute;
					}
				}
				&:hover{
					background:$white;

    			}
			}
			a.mas{
				border:none;
				padding:0;
				span:after{
					content:'';
				}
				.mas{
					width: 30px;
					height: 30px;
					border:2px solid $orange;
					background:$orange;
					color:$white;
					border-radius:100%;
					text-align: center;
					margin:0 auto;
					transition: all .2s ease-in-out;
					position:absolute;
					bottom: 15px;
					left: calc(50% - 16px);
					span{
						line-height: 30px;
					}
					&:hover{
						background:transparent;
						color:$orange;
						transform: scale(1.1);
					}
				}
			}
		}
	}
	@include for-phone-only{
		.title{
			font-size: 1.2rem;
			line-height: 1.5rem;
			letter-spacing: 2px;
		}
		.title.lines span:before{
			left: -42px;
    		top: 5px;
		}
		.title.lines span:after{
			right: -42px;
    		top: 5px;
		}
	}
}

/************* aseguradoras *************/
section.aseguradoras{
	background: url(../img/aseguradoras-easy_insurance.jpg) no-repeat center center fixed; 
	@include cover();
	@include for-phone-only{
		.slick-prev {
		    left: 0;
		}
		.slick-next{
			right: 0px;
		}
	}
	@include for-tablet-portrait-down{
		.half-separator{
			height: 20px!important;
		}
	}
	@include for-tablet-portrait-up{
		height: 300px;
		.slick-prev, .slick-next{
			top:initial;
			bottom:-40px;
		}
		.slick-prev{
			left:calc(45%);
		}
		.slick-next{
			right:calc(45%);
		}

	}
	@include for-desktop-up{
		height: 400px;
	}
	@include for-big-desktop-up{
		height:500px;
		.slick-prev, .slick-next{
			top:initial;
			bottom:-100px;
		}
		.slick-prev{
			left:calc(48%);
		}
		.slick-next{
			right:calc(48%);
		}
	}
	
}

/********* mision y vision*******/
section.mision-vision{
	.col12{
		background:$grayLight;
		@include for-phone-only{
			width: 100%;
		}
		.inner{
			width: 100%;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			height: 100%;
			@include for-tablet-portrait-down{
				span.rwd-line{
					display: initial;
				}
				p.description.left{
					text-align: center;
				}
				.content{
					padding:0 42px;
					@include for-phone-only{
						padding:100px 42px;
					}
				}
			}
		}
	}
	@include for-phone-only{
		.row-equal:first-child{
			.col12:nth-child(2){
				display: none;
				
			}
		}
	}
	
}