/******** reset ********/
html,
body,
ul,
ol {
   margin: 0;
  padding: 0;
}

a{
	text-decoration:none;
	cursor:pointer;
}
html{
	font-size:14px;
	@media screen and (max-width:1100px){
		font-size:12px;
	}
	@media screen and (min-width:1400px){
		font-size:16px;
	}

}
ul{
	list-style:none;
}
h1,h2,h3,p,a,h5{
	-webkit-margin-before: 0em;
   	-webkit-margin-after: 0em;
}

body{
	//overflow-x:hidden;
}
/***** variables +********/


$white:#fff;
$blue:#6b9cc2;
$blueDark:#2c4377;
$blueMedium:#26588f;
$gray:#3f3f3f;
$orange:#ef8d49;
$brown:#59321f;
$black:#232323;
$grayLight:#f1f1f2;
/************ functions *******************/

@mixin cover(){
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-down {
  @media (max-width: 768px) { @content; }
}
@mixin for-notebook-down {
  @media (max-width: 1224px) { @content; }
}
@mixin for-notebook-up {
  @media (min-width: 1224px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

/********** basic classes ******/

.imgCenter img{
	display:block;
	max-width:100%;
	margin:0 auto;
}
.imgLeft img{
	display:block;
	max-width:100%;
	margin-right:auto;
}
.imgRight img{
	display:block;
	max-width:100%;
	margin-left:auto;
}
.rwd-line{
	display:block;
}
.center{
	text-align:center;
}
.right{
	text-align:right;
}
.left{
	text-align:left;
}
.justify{
	text-align:justify;
}