/**************** header *******************/
header{
	z-index:100;
	background:transparent;
	position:fixed;
	width:100%;
	top:0;
	right:0;
	-webkit-transition: max-height .5s; 
  -moz-transition: max-height .5s; 
  -ms-transition: max-height .5s; 
  -o-transition: max-height .5s; 
  transition: max-height .5s; 
  max-height: 300px;
	.inner{
		padding:20px;
	}
	.logo img{
		width: 250px;
		@include for-notebook-down{
			width: 200px;
		}
	}
	.wrap-header{
		display: inline-flex;
		width: 100%;
		justify-content: space-between;
		align-items: center;
		position:relative;
	}
	.top-header, .wrap-header{
		/* Force Hardware Acceleration */
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		will-change: transform;
		-webkit-transition: -webkit-transform .5s;
		transition: -webkit-transform .5s;
		transition: transform .5s;
		transition: transform .5s, -webkit-transform .5s;
	}
	.top-header.is-hidden{
		-webkit-transform: translateY(-200%);
		-ms-transform: translateY(-200%);
		transform: translateY(-200%);
	}
	.top-header.is-hidden + .wrap-header{
		-webkit-transform: translateY(-40%);
		-ms-transform: translateY(-40%);
		transform: translateY(-40%);
	}

}
/*********** Redes Sociales **************/
.social-media{
		text-align: right;
		li{
			display: inline-block;
			padding: 0 5px;
			&:last-child{
				padding-right:0;
			}
		}
		a{
			i{
				color: white;
				height: 25px;
				width: 25px;
				border: 1px solid white;
				border-radius: 100%;
				text-align: center;
				line-height: 25px;
				font-size: 14px;
				transition: all .25s ease-in-out;
				&:hover{
					background:white;
					color:$orange;
				}
			}
		}
	}
/********* menu **********/
.menu{
	li{
		display: inline-block;
		padding: 0 22px;
		position:relative;
		@include for-notebook-down{
			padding:0 15px;
		}
		@include for-big-desktop-up{
			padding: 0 35px;
		}
		a{
			color:$white;
			font-family:'Orson Light';
			letter-spacing: 2px;
			font-size: 17px;
			position:relative;
			text-transform: uppercase;
			transition: all .15s linear;
			font-weight: 100;
			@include for-notebook-down{
				font-size: 14px;
			}
			&:hover{
				color:$orange;
			}
		}
		a.active{
			color:$orange;
		}
		&:not(:last-child):after{
			content: '';
			width: 1px;
			height: 200%;
			background:$white;
			position:absolute;
			top: -9px;
    		right: -3px;

		}
	}
	li.active a{
		border-bottom:2px solid #3f3f3f;
	}
	@media screen and (max-width:1100px){
		display: none;
	}
}
.menu-bars{
	display:none;
	width: 28px;
	height: 30px;
	position: relative;
	transform: rotate(0deg);
	transition: .5s ease-in-out;
	cursor: pointer;
	z-index:11;
	@media screen and (max-width:1100px){
		display: block;
	}
	span{
		display: block;
		position: absolute;
		height: 2px;
		width: 100%;
		background: $white;
		border-radius: 9px;
		opacity: 1;
		left: 0;
		transform: rotate(0deg);
		transition: .25s ease-in-out;
		&:nth-child(1){
			top:0px;
		}
		&:nth-child(2){
			top:9px;
		}
		&:nth-child(3){
			top:18px;
		}
  }
}
.menu{
	@media screen and (max-width:1100px){
		right: -20px;
		background: rgba(0,0,0,1);
		padding: 30px;
		width: 300px;
		position: fixed;
		top:110px;
		z-index:9999;
		li{
			display: block;
			padding: 15px 0!important;
			&:not(:last-child){
				border-bottom: 1px solid white;
			}
    		
			a{
				letter-spacing: 4px;
    			font-size: 22px;
			}
			&:not(:last-child):after{
				width:0;
			}
		}
	}
}
.menu-bars.active span{
	&:nth-child(1){
		top:12px;
		transform: rotate(135deg);
	}
	&:nth-child(2){
		opacity: 0;
  		left: -22.5px;
	}
	&:nth-child(3){
		top: 12px;
		transform: rotate(-135deg);
	}
}

/************ Menu scrolled*********/
header.scrolled{
	background:rgba(0,0,0,.6);
}

.background_gray{
	background:#f8f9f8;
}
.padded{
	padding:50px 5% 50px 5%;
	margin:0 auto;
	.padded{
		padding:20px 2.5%;
	}
	@include for-tablet-portrait-down{
		padding: 50px 20px 50px 20px;
	}
}

.half-separator{
	height:50px;
}
.separator{
	height:100px;
}
.white{
	color:$white;
}
.row-inline{
	display: inline-flex;
	width: 100%;
	justify-content: space-between;
	@include for-phone-only{
		flex-wrap: wrap;
	}
}
.row.controls{
	display:flex;
	justify-content:space-between;
	width:100%;
	align-items:center;
	@include for-phone-only{
		.atras a, .continuar input[type="submit"]{
			padding: 8px 5px;
			font-size: 1.1rem;
    		letter-spacing: 1px;
		}
	}
}

.description{
	color:$brown;
	font-family:'Raleway';
	line-height:1.5rem;
	font-size:1rem;
	letter-spacing:.5px;
}
.content-margin-top{
	margin-top:100px;
}
.modal-open{
	overflow:hidden;
}
.cargando-container{
	width: 100%;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 100;
    background: rgba(0,0,0,.9);
}
/*******form*********/
form{
	input,textarea{
		border:1px solid white;
		display: block;
		width: calc(100% - 5%);
		padding:5px 2%;
		height: 25px;
		outline: none;
		margin:15px auto;
		font-size: 1rem;
		background:rgba(255,255,255,.2);
		transition: border .5s ease-in-out;
		color:white;
		font-family: Raleway;
		font-size: 1.1rem;
		&:focus,&:active{
			border:1px solid $orange;
		}
	}
	textarea{
		height:200px;
	}
	input[type="submit"]{
		width: auto;
		height: auto;
	    color: white;
	    font-size: 1.1rem;
	    letter-spacing: 1px;
	    padding: 8px 30px;
	    border-radius:1rem;
	    margin-left: 0;
	    cursor:pointer;
	    transition: all .2s ease-in-out;
	    font-weight: 400;
	    background: transparent;
	    &:hover{
	    	background:$orange;
	    	border-color:$orange;
	    }
	}
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color:$white;
  font-size: 1rem;
  font-family: Raleway;
}
::-moz-placeholder { /* Firefox 19+ */
  color:$white;
  font-size: 1rem;
  font-family: Raleway;
}
:-ms-input-placeholder { /* IE 10+ */
 color:$white;
  font-size: 1rem;
  font-family: Raleway;
}
:-moz-placeholder { /* Firefox 18- */
  color:$white;
  font-size: 1rem;
  font-family: Raleway;
}

/********rows********/
.row-equal{
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.col12{
	width:50%;
}
.col13{
	width:33.333%;
}
.col23{
	width: calc(100% - 33.333%);
}



/******************** buttons**************/
.btn-orange{
	color:white;
	background:$orange;
	font-family:'Orson Light';
	text-transform:uppercase;
	padding:10px 20px;
	transition:all .2s ease-in-out;
	-webkit-box-shadow: 0px 2px 22px 5px rgba(0,0,0,0.36);
	-moz-box-shadow: 0px 2px 22px 5px rgba(0,0,0,0.36);
	box-shadow: 0px 2px 22px 5px rgba(0,0,0,0.36);
	border-bottom:3px solid darken($orange,8%);
	&:hover{
		background: darken($orange,5%);
		border-bottom:3px solid darken($orange,13%);
	}
}
.btn-orange.back{
	background:none;
	box-shadow:none;
	color:$orange;
	border-bottom:none;
	font-size:1.5rem;
	transition:all .2s ease-in-out;
	letter-spacing:2px;
	&:hover{
		background:$orange;
		color:white;
	}
}
.btn-white{
	text-transform:uppercase;
	font-family:Raleway;
	border-radius:1rem;
	padding:7px 35px;
	transition:.25s all ease-in-out;
	letter-spacing:1px;
	border:1px solid white;
	color:white;
	&:hover{
		background:$orange;
		border-color:$orange;
	}
}


/*********** text **********/
.orange{
	color:$orange!important;
}
.title{
	text-transform:uppercase;
	font-family:'Orson Light';
	color:$white;
	font-weight:100;
	font-size: 2rem;
    letter-spacing: 8px;
}
.title.lines{
	span{
		position:relative;
		&:after{
			content:'';
			position:absolute;
			height: 1px;
			width: 30px;
			background:$orange;
			right: -50px;
			top:.5rem;
		}
		&:before{
			content:'';
			position:absolute;
			height: 1px;
			width: 30px;
			background:$orange;
			left: -50px;
			top:.5rem;
		}
	}
}
.title-line{
	height:2px;
	background:$white;
	margin:20px auto;
	width:50px;
}

.title-line.medium{
	width:150px;
}
.line-separator{
	margin:20px auto;
	height:2px;
	background:#3f3f3f;
}
.background-gray{
	background:$grayLight;
}
/******** header container **********/
.header-container{
	position:relative;
	.title-container{
		position:absolute;
		left: 80px;
		bottom:40%;
		h1{
			color:$orange;
			font-family:'Orson Light';
			text-transform: uppercase;
			font-weight: 100;
			letter-spacing: 4px;
			font-size: 2rem;
			span{
				&:before, &:after{
					content:'';
					position:absolute;
					top:13px;
					background:$orange;
					width: 12px;
					height: 1px;
				}
				&:before{
					left: -25px;
				}
				&:after{
					right: -25px;
				}
			}
			@include for-phone-only{
				font-size: 1.2rem;
				letter-spacing: 2px;
				span:before,span:after{
					top:5px;
				}
			}
		}
		@include for-tablet-portrait-down {
			bottom: 25%;
		}
	}
	@include for-phone-only{
		background:#4c4c4c;
		height: 200px;
		padding-top:55px;
		.imgCenter{
			display: none;

		}
	}
}
/************** label error********/
label.error{
	color:#FF5722;
	font-family:Raleway;
}
/*******+ recupera tu póliza ***********/
.recupera-tu-poliza{
	position: fixed;
    width: 600px;
    height: 400px;
    background: #000000;
    z-index: 999;
    top: calc(50% - 200px);
    left: calc(50% - 300px);
    @include for-phone-only{
    	width: 300px;
    	height: 350px;
    	top: calc(50% - 170px);
    	left: calc(50% - 150px);
    }
    .inner{
    	position:relative;
    	padding: 50px;
    	@include for-phone-only{
    		padding:30px;
    	}
    }
    h3{
    	color:$orange;
    	font-family:'Orson Light';
		text-transform: uppercase;
		font-weight: 100;
		letter-spacing: 4px;
		margin-bottom: 20px;
    }
    label{
    	color: white;
	    font-family: Raleway;
	    letter-spacing: 1px;
	    line-height: 2rem;
	    &:nth-child(2){
	    	margin-top: 20px;
	    }
    }
    label.error{
    	color: #FF5722;
    }
    select{
    	-webkit-appearance: none;
    	border-radius:0;
    	height: 35px;
    	border:1px solid white;
    	width: 100%;
    	background:rgba(255,255,255,.3);
    	margin-bottom: 20px;
    	color:white;
    	outline: none;
    	font-family: Raleway;
    	padding:0 10px;
    	&:focus{
    		border-color:$orange;
    		color:black;

    	}
    }
    .close-recupera-poliza{
    	position:absolute;
    	right: 10px;
    	top: 10px;
    	cursor:pointer;
    	i{
    		color:$orange;
    		font-size: 1.2rem;
    	}
    }
}