header{
	background:rgba(0,0,0,.7);
	position:relative;
	.user-wrap{
		img,h3{
			display: inline-block;
			vertical-align: middle;
		}
		
		img{
			width: 60px;
			padding-right:20px;
		}
		h3{
			color:white;
			font-family:'Orson Light';
			font-weight: 100;
			font-size: 1.5rem;
			letter-spacing: 3px;
		}
		a span{
			line-height: 2rem;
			font-family:'Raleway';
			color:white;
			text-transform: capitalize;
			font-weight: 100;
			letter-spacing: .5px;
			position:relative;
			transition:all .25s linear;
			&:before,&:after{
				content: '';
				background:$white;
				width: 10px;
				height: 2px;
				position:absolute;
				top:7px;
				left: -25px;
			}
			&:after{
				left:initial;
				right: -25px;
			}
		}
		a{
			
			&:hover{
				span{
					color:$orange;
				}
				span:after,span:before{
					background:$orange;
				}
			}
		}
	}
}
.steps-container{
	.step{
		position:relative;
		.cover{
			position:absolute;
			width: 100%;
			height: 100%;
			top:0;
			left: 0;
			background:rgba(0,0,0,.4);
			transition: all .25s ease-in-out;
		}
		.center{
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
			span{
				text-transform: uppercase;
				color:white;
				font-family:'Orson Light';
				font-size: 1.8rem;
				letter-spacing: 5px;
				background:rgba(239,141,72,.7);
				padding:10px 35px;
				opacity: .5;
			}
		}
	}
	.step.active{
		z-index: 2;
		.cover{
			width: 99%;
			height: 98%;
			background:transparent;
			border:5px solid $orange;
			.center span{
				opacity: 1;
			}

		}
		.triangle{
			width: 0;
			height: 0;
			border-left: 30px solid transparent;
			border-right: 30px solid transparent;
			border-bottom: 27px solid #ef8d49;
			position: absolute;
			bottom:0;
			left: 50%;
			-webkit-transform: translateX(-50%);
			transform: translateX(-50%);
		}
	}
	@include for-phone-only{
		padding:30px 0;
		background:$orange;
		.imgCenter{
			display: none;
		}
		.step{
			width:calc(100% /3);
			background:$orange;
			.cover{
				position:relative;
				background:none;
			}
			.center{
				text-align: center;
				span{
					padding:0;
					font-size: 1rem;
					background:none;
					opacity: 1;
					letter-spacing: 2px;
					position:relative;
				}
			}
		}
		.step.active{
			z-index: initial;
			.triangle{
				display: none;
			}
			span:after{
				content: '';
				background:$white;
				position:absolute;
				left:0;
				width: 100%;
				height: 2px;
				bottom:-5px;
			}
		}
		.step.active .cover{
			border:none;

		}
	}
}
/*.datos-vehiculo{
		h1{
			color:$black;
			font-family:'Orson Light';
			text-transform: uppercase;
			letter-spacing: 5px;
		}
		h3{
			color:$black;
			font-family:'Orson Light';
			text-transform: uppercase;
			letter-spacing: 2px;
			font-size: 1.5rem;
			margin-bottom: 15px;
			span{
				position: relative;
				&:before,&:after{
					content: '';
					width: 20px;
					height: 2px;
					background: $orange;
					position:absolute;
					top:8px;
					left:-35px;
				}
				&:after{
					left:initial;
					right: -35px;
				}
			}
		}
}
*/