section.login{
	.wrapper{
		position:relative;
		@include for-phone-only{
			padding:0 20px;
		}
		.title-container{
			position:absolute;
			top:30%;
			left:10%;
			@include for-tablet-portrait-down{
				top:20%;
				left: 40%;
			}
			@include for-phone-only {
				position:initial;
				padding-top:130px;
			}
		}
		h1{
			font-family:'Orson Light';
			color:$orange;
			text-transform:uppercase;
			letter-spacing: 10px;
			text-align: center;
			font-weight: 100;
			span:not(:last-child){
				position:relative;
				&:before{
					content:'';
					position:absolute;
					background: $orange;
					width: 20px;
					height: 2px;
					left: -70px;
					top:30px;
				}
				&:after{
					content:'';
					position:absolute;
					background: $orange;
					width: 20px;
					height: 2px;
					right: -70px;
					top:30px;
				}
				@include for-phone-only {
					&:before{
						left:0px;
					}
					&:after{
						right: 0px;
					}
				}
			}
		}
		@include for-tablet-portrait-down{
			.img-container{
				display: none;
			}
			height: 100vh;
			background:url('../img/background-login.jpg');
			@include cover();
		}

	}
	.container-form{
		position:absolute;
		top:20%;
		right: 5%;
		background:rgba(255,255,255,.3);
		padding: 50px 100px;
		@media screen and(min-width:1400px){
			    width: 400px;
		}
		@include for-tablet-portrait-down{
			right: calc(50% - 250px);
			top:35%;
		}
		@include for-phone-only {
			position: initial;
			padding:20px 10px;
			margin-top: 20px;
		}
		img{
			width: 120px;
		}
		input{
			min-width: 300px;
			border-width: 2px;
		}
		input[type="submit"]{
			margin-top: 30px;
			background:$orange;
			border:none;
			border-radius:0;
			text-transform: uppercase;
			font-family:'Orson Light';
			letter-spacing: 4px;
			padding:11px 20px;
			font-size: 1.2rem;
			width: 100%;
			transition: all .15s ease-in-out;
			&:hover{
				background:darken($orange,10);
			}
		}
		a{
			color:white;
			font-family:'Raleway';
			transition: all .15s linear;
			&:hover{
				color:$brown;
			}
		}
		.checkbox{
			position: relative;
			input[type="checkbox"]{
				display: none;
				&:checked + label:after {
			      opacity: 1;
			    }
			}
			input[type="checkbox"] + label{
				display:inline-block;
				width:12px;
				height:12px;
				background:rgba(255,255,255,.3);
				border:2px solid white;
				cursor:pointer;
				
			}
			label{
				&:after {
					content: '';
					width: 8px;
					height: 4px;
					position: absolute;
					top: 3.5px;
					left: 3px;
					border: 3px solid $orange;
					border-top: none;
					border-right: none;
					background: transparent;
					opacity: 0;
					transform: rotate(-45deg);
				}
				&:hover::after {
					opacity: 0.3;
				}
				span{
					position:absolute;
					left:22px;
					font-family:'Raleway';
					color:#fff;
					top:2px;
				}
			}
		}
	}
}