section.cotizaciones.metodo-pago{
	.datos-vehiculo{
		padding: 30px 5% 0 5%;
		@include for-phone-only{
			padding-top:0;
		}
	}
	.datos-vehiculo .wrapper{
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		width: 80%;
    	margin: 0 auto;
		img{
			width: 120px;
		}
		div:not(.imgLeft){

			padding: 0;
			width: 20%;
			margin-bottom: 15px;
			@media screen and (max-width:1000px){
				width:100%;
			}
		}
		.imgLeft{
			padding:0;
			width: 100%;
		}
		@media screen and (max-width:1000px){
			width:100%;
		}
	}
	.metodos-pago{
		background: #f1f1f2;
	}
	.metodos-pago .wrapper{
		padding:50px 5% 0 5%;
		@include for-phone-only{ 
			padding: 50px 10px 0 10px;
		}
		.row-inline{
			@include for-tablet-portrait-down{
				flex-wrap: wrap;
				.pago-tarjeta, .pago-oxxo{
					width: 100%;
				}
			}
		}
	}
	h1{
		color:$orange;
		font-size: 1.8rem;
		letter-spacing: 4px;
	}
	.line-title{
		display: flex;
		justify-content: flex-start;
		align-items:center;
		margin-bottom: 30px;
		h2{
			font-family: 'Raleway';
			color:#808184;
			margin-right: 25px;
			letter-spacing: 1px;
		}
		img{
			max-width: 100px;
			display: inline-block;
		}
	}
	.pago-tarjeta{
		padding-left:30px;
		@include for-phone-only{
			padding-left:0;
		}
		.row-inline .col12{
			width: 48%;
			@include for-phone-only{
				width: 100%;
			}
		}
	}
	.pago-oxxo{
		padding-left:30px;
		@include for-phone-only{
			padding-left:0;
		}
	}
	label{
		display: block;
		font-family: Raleway Light;
		font-weight: 100;
		font-size: 1rem;
		color:#808184;
		padding-left:5px;
		position:relative;
		line-height: 2rem;
	}
	label.error{
		font-size: 12px!important;
		color: #FF5722!important;
	}
	input:not([type="submit"]){
		background: white;
		height: 35px;
		width: calc(100% - 60px);
		margin-bottom: 15px;
	}
	.fecha_expiracion{
		width: 100%;
		align-items:center;
		input{
			width: calc(47% - 60px);
			display: inline-block;
			@media screen and (max-width:760px){
				width: calc(47% - 80px);
			}
		}
		span{
			font-size: 2rem;
			color: #808184;
			font-family: Raleway;
			font-weight: 100;
			margin-bottom: 15px;
		}
	}
	p.terminos{
		padding:15px 0;
		font-family: Raleway Light;
		font-weight: 100;
		font-size: 1rem;
		color:#808184;
		a{
			color:$orange;
		}
		@include for-phone-only{
			font-size: 10px;
		}
	}
	button.btn-orange{
		box-shadow:none;
		border:none;
		border-radius:.8rem;
		padding:10px 20px;
		font-size: 1.3rem;
		letter-spacing: 2px;
		cursor:pointer;
	}
}