@media screen and (max-width:1280px){
	html{
		font-size: 14px;
	}
}
@media screen and(min-width:1500px){
	html{
		font-size:18px;
	}
	header .logo img {
	    width: 300px;
	}
	.menu li a{
		font-size: 21px;
	}
	.slide .caption .btn-orange{
		padding: 25px 38px;
	}
	.slide .caption img {
	    width: 420px;
	}
	header .social-media a i{
		line-height: 35px;
    	font-size: 20px;
    	height: 35px;
    	width: 35px;
	}
	section.cotizar-seguro .row-inline .col15 img{
		width: 170px;
	}
	p{
		font-size: 1rem;
	}
	section.cotizar-seguro .row-inline .col15 .number{
		width: 50px;
		height: 50px;
		span{
			line-height: 50px;
			font-size: 1.2rem;
		}
	}
}
