section.servicios{
	.content.background-gray{
		margin-bottom: -5px;
		@include for-tablet-portrait-down{
			span.rwd-line{
				display: initial;
			}
		}
	}
	.descripcion-servicios{
		justify-content: space-between;
		.col14{
			width: 50%;
			@include for-phone-only{
				width: 100%;
			}
		}
		.container{
			padding:5px 15px;
		}
		.title{
			justify-content: flex-start;
			align-items: center;
			img{
				max-width: 80px;
				margin-right: 15px;
				@include for-phone-only{
					max-width: 70px;
				}
			}
			h2{
				font-size: 1.4rem;
				color: $orange;
				letter-spacing: 4px;
				font-family: Raleway;
				font-weight: 900;
				@include for-phone-only{
					font-size: 1rem;
					letter-spacing: 0px;
				}
			}
		}
		ul{
			margin-top: 25px;
			padding-left:25px;
			padding-bottom:20px;
			li{
				font-family:'Raleway';
				font-size: 1rem;
				color:$brown;
				padding:10px 0;
				position:relative;
				&:before{
					content: '';
					width: 7px;
					height: 7px;
					background:$orange;
					position:absolute;
					left: -17px;
					top:11px;
					border-radius:100%;
				}
			}
		}
	}
	.obten-tu-seguro{
		.col13{
			width: calc(100%/3);
			position:relative;
			@include for-phone-only{
				width: 100%;
			}
			.btn{
				margin: auto;
				position: absolute;
				top: 0; left: 0; bottom: 0; right: 0;
				height: 00px;
				text-align: center;
				.btn-orange{
					letter-spacing: 3px;
					font-weight: 100!important;
					font-size: 1.5rem;
					@include for-tablet-portrait-down{
						font-size: 1rem;
					}
				}
			}
		}
	}
}
/******** preguntas frecuentes********/
@include for-phone-only{
		section.preguntas-frecuentes h2{
			font-size: 1.5rem;
			letter-spacing: 4px;
		}
		
	}
.preguntas-container{

	.pregunta{
		position:relative;
		padding-left:30px;
		cursor: pointer;
		i{
			position:absolute;
			color:$orange;
			left:0;
			top:3px;
			font-size: 1.2rem;
		}
		h4{
			font-family:'Raleway';
			font-size: 1.5rem;
			color: #808184;
			font-weight:100;
			letter-spacing: 2px;
			@include for-phone-only{
				font-size: 1.2rem;
			}
		}
		.respuesta{
			display: none;
		}
	}
	.pregunta.active .respuesta{
		display: block;
	}
}