doctype html
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", type="text/css", href="css/normalize.css" )
		link(rel="stylesheet", type="text/css", href="css/styles-admin.css?1.0.0" )
		link(rel="stylesheet", type="text/css", href="css/font-awesome.min.css" )
		link(rel="stylesheet", type="text/css", href="css/aos.css" )
		link(rel="shortcut icon" href="img/favicon.png")
		base(href="http://easy-insurance.opuntialabs.com/" target="_self")
		block scriptsHead
	body
		.wrap-content
			.inner
				header
					.inner
						.wrap-header
							.logo
								a(href="./")
									img(src="img/easy_insurance-seguros.png")
							.user-info
								.user-wrap
									a(href="admin/perfil-usuario.html")
										img(src="img/iconos/easy_insurance-usuario.svg")
									a(href="admin/perfil-usuario.html")
										h3.user-name Uriel
									p.center
										a(href="login.html") 
											span cerrar sesión


					
				.wrapper-content
					block content
					
			.bottom_footer
				.inner.row-inline
					.metodos_pago
						img(src="img/metodos-pago/visa.svg")
						img(src="img/metodos-pago/master_card.svg")
						img(src="img/metodos-pago/american_express.svg")
						img(src="img/metodos-pago/oxxo.svg")
					.avisos
						ul
							li
								a(href="#") Aviso de privacidad
							li
								a(href="#") Términos y Condiciones
					.social-media
						ul
							li
								a(href="#")
									i(class="fa fa-facebook" aria-hidden="true")
							li
								a(href="#")
									i(class="fa fa-twitter" aria-hidden="true")
							li
								a(href="#")
									i(class="fa fa-instagram" aria-hidden="true")

			script(type="text/javascript" src="js/jquery-3.2.1.min.js")
			script(type="text/javascript" src="js/main.js")
			//-script(type='text/javascript') (function(){ var widget_id = 'uydmU4EmrY';var d=document;var w=window;function l(){ var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();
			script.
				$('.has-submenu > a').click(function(e){
					e.preventDefault();
					$(this).next('.sub-menu').fadeToggle();
				});
			block scriptsFooter