doctype html
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", type="text/css", href="css/normalize.css" )
		link(rel="stylesheet", type="text/css", href="css/styles.css?1.0.0" )
		link(rel="stylesheet", type="text/css", href="css/font-awesome.min.css" )
		link(rel="stylesheet", type="text/css", href="css/aos.css" )
		link(rel="shortcut icon" href="img/favicon.png")
		//base(href="http://easy-insurance.opuntialabs.com/" target="_self")
		block scriptsHead
	body
		.wrap-content
			.inner
				block header
					header
						.inner
							.top-header
								.container
									.social-media
										ul
											li
												a(href="#")
													i(class="fa fa-facebook" aria-hidden="true")
											li
												a(href="#")
													i(class="fa fa-twitter" aria-hidden="true")
											li
												a(href="#")
													i(class="fa fa-instagram" aria-hidden="true")
											li
												a(href="login.html")
													i(class="fa fa-user" aria-hidden="true")
							.wrap-header
								.logo
									a(href="/")
										img(src="img/easy_insurance-seguros.png")
								.menu-bars
									span
									span 
									span
								.menu
									block menu
				.wrapper-content
					block content
					
			.footer-wrapper#contacto
				.recupera-tu-poliza(style="display:none;")
					.inner
						.close-recupera-poliza
							i(class="fa fa-times")
						h3 Ingresa tus datos
						form#solicitar-poliza
							label Correo electrónico
							input(type="email" required name="email")
							label Selecciona tu vehículo
							select
								option(selected hidden) - Seleccionar -
								option Jeep Patriot 2010
							input(type="submit" value="Solicitar")
				.inner.padded
					.row-inline
						.col12
							h2.title.center.white Revisa tu Póliza
							.half-separator
							.imgCenter
								img(src="img/cotiza_tu_poliza.svg" class="revisa-tu-poliza")
							.center
								br
								a.btn-white(href="#" id="mostrar-poliza") Aquí
						.col12
							.row-equal.row-form
								.form-container
									h2.title.left.white Contáctanos
									form.contacto-white#formulario-contacto
										input(type="text" placeholder="Nombre" name="name" required)
										input(type="email" placeholder="Correo" name="email" required)
										textarea(placeholder="Mensaje")
										input(type="submit" value="Enviar")
								.ubicacion-container
									.item-contacto
										.imgCenter
											img(src="img/easy_insurance-ubicacion.svg")
									.item-contacto
										.imgCenter
											img(src="img/easy_insurance-mail.svg")
									.item-contacto
										.imgCenter
											img(src="img/easy_insurance-phone.svg")
			.bottom_footer
				.inner.row-inline
					.metodos_pago
						img(src="img/metodos-pago/visa.svg")
						img(src="img/metodos-pago/master_card.svg")
						img(src="img/metodos-pago/american_express.svg")
						img(src="img/metodos-pago/oxxo.svg")
					.avisos
						ul
							li
								a(href="aviso-de-privacidad.html") Aviso de privacidad
							li
								a(href="terminos-y-condiciones.html") Términos y Condiciones
					.social-media
						ul
							li
								a(href="#")
									i(class="fa fa-facebook" aria-hidden="true")
							li
								a(href="#")
									i(class="fa fa-twitter" aria-hidden="true")
							li
								a(href="#")
									i(class="fa fa-instagram" aria-hidden="true")

			script(type="text/javascript" src="js/jquery-3.2.1.min.js")
			script(type="text/javascript" src="js/aos.js")
			script(type="text/javascript" src="js/underscore-min.js")
			script(type="text/javascript" src="js/main.js")
			script(type="text/javascript" src="js/jquery.validate.min.js")
			script.
				$('#formulario-contacto').validate({
					rules: {
						name: "required",
						email: {
							required: true,
							email: true
						}
					},
					messages: {
						name: "Escribe tu nombre.",
						email: {
							required: "Necesitamos un email para contactarte.",
							email: "Formato: tunombre@domain.com"
						}
					}
				});
				$('#solicitar-poliza').validate({
					rules: {
						email: {
							required: true,
							email: true
						}
					},
					messages: {
						email: {
							required: "Necesitamos un email para mostrar tus vehículos",
							email: "Formato: tunombre@domain.com"
						}
					}
				});
				jQuery.extend(jQuery.validator.messages, {
					required: "Este campo es requerido",
				});
			script.
				AOS.init();
				$('.menu-bars').click(function(){
					$(this).toggleClass('active');
					$('.menu').fadeToggle();
				});
				$('.recupera-tu-poliza').hide();
				$('#mostrar-poliza').click(function(e){
					e.preventDefault();
					$('.recupera-tu-poliza').fadeToggle();
				});
				$('.close-recupera-poliza').click(function(e){
					e.preventDefault();
					$('.recupera-tu-poliza').fadeToggle();
				});
			//-script(type='text/javascript') (function(){ var widget_id = 'uydmU4EmrY';var d=document;var w=window;function l(){ var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();
			block scriptsFooter
