extends partials/_layout-cotizador
block scriptsHead
	title Easy Insurance | Emitir
block content
	.admin-wrapper
		.container
			.menu-container
				.inner
					ul.main-menu
						li
							a(href="#")
								span.reportes Reportes
						li.has-submenu
							a(href="#")
								span.usuarios Usuarios
							ul.sub-menu
								li 
									a(href="#") Ver todos
								li 
									a(href="agregar-usuario.html") Agregar nuevo
						li
							a(href="#")
								span.polizas Pólizas

			.content
				.inner
					.top-bar
						.container
							h1.title Administrador Principal
							.buscar
								label
									input(type="text" placeholder="Buscar ...")
					.separator
					.table-container
						table.admin
							thead
								tr
									th(scope="col")
										span.nombre Nombre
									th(scope="col")
										span.correo Correo
									th(scope="col")
										span.venta Venta Mensual
							tbody
								tr
									td(data-label="Nombre") Ana Paula Solórzano
									td(data-label="Correo") apsolorzano@easyinsurance.mx
									td(data-label="Venta Mensual") $15,000.00
								tr
									td(data-label="Nombre") Ana Paula Solórzano
									td(data-label="Correo") apsolorzano@easyinsurance.mx
									td(data-label="Venta Mensual") $15,000.00
								tr
									td(data-label="Nombre") Ana Paula Solórzano
									td(data-label="Correo") apsolorzano@easyinsurance.mx
									td(data-label="Venta Mensual") $15,000.00
								tr
									td(data-label="Nombre") Ana Paula Solórzano
									td(data-label="Correo") apsolorzano@easyinsurance.mx
									td(data-label="Venta Mensual") $15,000.00
								tr
									td(data-label="Nombre") Ana Paula Solórzano
									td(data-label="Correo") apsolorzano@easyinsurance.mx
									td(data-label="Venta Mensual") $15,000.00
								tr
									td(data-label="Nombre") Ana Paula Solórzano
									td(data-label="Correo") apsolorzano@easyinsurance.mx
									td(data-label="Venta Mensual") $15,000.00
								tr
									td(data-label="Nombre") Ana Paula Solórzano
									td(data-label="Correo") apsolorzano@easyinsurance.mx
									td(data-label="Venta Mensual") $15,000.00
								tr
									td(data-label="Nombre") Ana Paula Solórzano
									td(data-label="Correo") apsolorzano@easyinsurance.mx
									td(data-label="Venta Mensual") $15,000.00
								tr
									td(data-label="Nombre") Ana Paula Solórzano
									td(data-label="Correo") apsolorzano@easyinsurance.mx
									td(data-label="Venta Mensual") $15,000.00


block scriptsFooter
	
