extends partials/_layout-cotizador
block scriptsHead
	title Easy Insurance | Emitir
	link(rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
block content
	.admin-wrapper
		.container
			.menu-container
				.inner
					ul.main-menu
						li
							a(href="#")
								span.reportes Reportes
						li.has-submenu
							a(href="#")
								span.usuarios Usuarios
							ul.sub-menu
								li 
									a(href="administrador-principal.html") Ver todos
								li 
									a(href="#") Agregar nuevo
						li
							a(href="#")
								span.polizas Pólizas

			.content
				.inner
					.top-bar
						.container
							h1.title Nuevo Usuario
							.buscar
								label
									input(type="text" placeholder="Buscar ...")
					.half-separator
					.form-container.agregar-usuario
						.inner-container
							form.form-admin#nuevo-usuario
								h2 Datos Generales
								.row
									.input12
										label Nombre
										input(type="text" name="name" required)
									.input12
										label Apellidos
										input(type="text" name="lastName" required)
								.row
									.input12
										label Correo electrónico
										input(type="email" name="email" id="email" required)
									.input12
										label Confirmar correo electrónico
										input(type="email" name="confirmEmail" required)
								.row
									.input12
										label Contraseña
										input(type="password" name="password" id="password1" required)
									.input12
										label Confirmar contraseña
										input(type="password" name="confirmPassword" required)
								.row
									.input12
										label Tipo usuario
										select
											option(selected hidden) - Seleccionar -
									.input12
										label Fecha Nacimiento (DD/MM/AAA)
										input(type="text" name="dateBirth" id="date-birth" required)
								.half-separator
								h2 Dirección
								.input.row-inline.direccion
									.input
										label Calle
										input(type="text" name="streetAddress" required)
									.input
										label Número ext-int
										input(type="number" name="numberAddress" required)
									.input
										label Código Postal
										input(type="number" name="zipCode" required)
								.row
									.input12
										label Colonia
										input(type="text" name="neighborhood")
									.input12
										label Delegación
										input(type="text" name="town")
								.row
									.input12
										label Ciudad
										input(type="text" name="city")
									.input12
										label Estado
										input(type="text" name="state")
								.half-separator
								h2 Datos Personales
								.row
									.input12
										label Teléfono
										input(type="text" name="telephone" required)
									.input12
										label RFC
										input(type="text" name="rfc")
								.row
									.input12
										label CURP
										input(type="text" name="curp")
									.input12.right
										input.btn-orange(type="submit" value="Agregar usuario")
block scriptsFooter
	script(type="text/javascript" src="js/jquery.validate.min.js")
	script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
	script.
		$('#nuevo-usuario').validate({
			rules: {

				confirmEmail:{
					required: true,
					email: true,
					equalTo: "#email"
				},
				confirmPassword:{
					required: true,
					equalTo: "#password1"
				}
			},
			messages: {
				email:{
					email: "Formato: tunombre@domain.com"
				},
				confirmEmail: {
					equalTo: "El email no coincide.",
					email: "Formato: tunombre@domain.com"
				},
				confirmPassword: {
					equalTo: "Las contraseñas no coinciden."
				}
			}
		});
		jQuery.extend(jQuery.validator.messages, {
			required: "Este campo es requerido",
		});
	script.
		$( "#date-birth" ).datepicker({
			changeMonth: true,
			changeYear: true
		});