extends partials/_layout
block scriptsHead
	title Easy Insurance | Conductor
	link(rel="stylesheet" href="css/styles-admin.css")
block menu
	ul
		li
			a(href="./" ) Inicio
		li
			a(href="servicios.html" ) Servicios
		li
			a(href="nosotros.html") Nosotros
		li
			a(href="../#aseguradoras") Aseguradoras
		li
			a(href="#contacto") Contacto
		li
			a(href="#" class="active") Cotizar
block content
	section.conductor
		.wrapper
			.inner
				.steps-container.row-inline
					.step.cotizar
						.imgCenter
							img(src="img/easy_insurance-cotiza_tu_vehiculo.jpg")
						.cover
							.center
								span Cotizar
							
					.step.conductor.active
						.imgCenter
							img(src="img/easy_insurance-datos_del_conductor.jpg")
						.cover
							.center
								span Conductor
							.triangle 
					.step.emitir
						.imgCenter
							img(src="img/easy_insurance-emite_tu_poliza.jpg")
						.cover
							.center
								span Emitir
				.padded.background-gray
					h1.center.title.lines
						span Datos del conductor
					.imgCenter
						img(src="img/iconos/easy_insurance-usuario.svg" class="conductor-icon")
					.half-separator
					form.cotizador#datos-conductor(method="GET" action="emitir.html")
						.container
							.row-equal
								.col12
									label Nombre:
									input(type="text" required name="nombre")
								.col12
										label Apellidos:
										input(type="text" required name="apellidos")
								.col
									label Dirección:
									input(type="text" required name="direccion")
								.col13
									label Celular:
									input(type="number" required name="celular")
								.col13
									label Correo electrónico:
									input(type="email" required name="email")
								.col13
									label Nacionalidad: 
									input(type="text" required name="nacionalidad")
						.half-separator
						.row.controls
							.atras
								a.btn-orange.back(href="cotizaciones.html") < Regresar
							.continuar
								input(type="submit" value="Continuar >")
						.half-separator
block scriptsFooter
	script(type="text/javascript" src="js/jquery.validate.min.js")
	script.
		$('#datos-conductor').validate({
			rules: {
				name: "required",
				email: {
					required: true,
					email: true
				}
			},
			messages: {
				name: "Escribe tu nombre.",
				email: {
					required: "Necesitamos un email para contactarte.",
					email: "Formato: tunombre@domain.com"
				}
			}
		});
		jQuery.extend(jQuery.validator.messages, {
			required: "Este campo es requerido",
			maxlength: jQuery.validator.format("Maximo {0} caracteres"),
			minlength: jQuery.validator.format("Al menos {0} caracteres"),
			max: jQuery.validator.format("Valor máximo {0}"),
			min: jQuery.validator.format("Valor mínimo {0}"),
		});
