extends partials/_layout
block scriptsHead
	title Easy Insurance | Cotizar
	link(rel="stylesheet" href="css/styles-admin.css")
block content
	.cargando-container
		.imgCenter
			img(src="img/iconos/cargando.svg")
		h3.center.title.orange Cotizando el mejor seguro
	section.cotizaciones
		.wrapper
			.inner
				.steps-container.row-inline
					.step.cotizar.active
						.imgCenter
							img(src="img/easy_insurance-cotiza_tu_vehiculo.jpg")
						.cover
							.center
								span Cotizar
							.triangle
					.step.conductor
						.imgCenter
							img(src="img/easy_insurance-datos_del_conductor.jpg")
						.cover
							.center
								span Conductor
					.step.emitir
						.imgCenter
							img(src="img/easy_insurance-emite_tu_poliza.jpg")
						.cover
							.center
								span Emitir
				.content
					.datos-vehiculo
						.wrapper
							.marca
								h3 Marca
								p Jeep
							.submarca
								h3 Submarca
								p Patriot
							.anio
								h3 Año
								p 2010
							.codigo-postal
								h3 Código Postal
								p 44510
							.descripcion
								h3 Descripción
								p JEEP LIBERTY LIMITED 4X2 AUT., 05 OCUP.
						.ocultar-descripcion
							i(class="fa fa-angle-up" aria-hidden="true" id="ocultar-descripcion")
					.personaliza-tu-seguro
						.wrapper
							h1 Personaliza tu seguro
							.half-separator
							form.datos-seguro
								.wrapper
									.cobertura
										label Cobertura: 
										select.line(name="cobertura" id="cobertura")
											option(selected value="Amplia") Amplia
											option(value="Limitada") Limitada
											option(value="RC") RC
											option(value="uber") Uber
									.uso
										label Uso: 
										select.line(name="uso" id="uso")
											option(selected value="particular") Particular
									.forma-pago
										label Forma de pago: 
										select.line(name="pago" id="pago")
											option(selected value="anual") Anual
									.enviar
										input(type="submit" value="Recotizar")
					.cotizaciones-obtenidas
						.wrapper
							.ordenar
								h2 Cotizaciones
								.filtro
									label Ordenar por:
									select.line(name="filtrar" id="filtrar")
										option(selected hidden) Seleccionar
										option(value="precio") Precio
							.half-separator
							.tabla-cotizaciones
								.fila
									.logo.imgCenter
										img(src="img/aseguradoras/gnp-color.svg")
									.precio
										label Precio Original
										span.precio $7,499.00
									.ver-cobertura
										a.btn-orange(href="#") Ver cobertura
									.contratar
										a.btn-orange(href="conductor.html") Contratar
									.detalles-cobertura
										.fila
											.nombre
												.content
													label Responsabilidad Civil
													span Bienes y Personas
											.descripcion
												.content
													span $1,000,000.00
										.fila
											.nombre
												.content
													label Responsabilidad Civil
													span Catastrófica
											.descripcion
												.content
													span $2,000,000.00
										.fila
											.nombre
												.content
													span Asistencia Vial y Viajes
											.descripcion
												.content
													span Amparada
										.fila
											.nombre
												.content
													span Defensa Jurídica
											.descripcion
												.content
													span Amparada
										.fila
											.nombre
												.content
													img(src="img/aseguradoras/cnsf.svg" class="logo-add")
											.descripcion
												.content
													span 2º Lugar
										.fila
											.nombre
												.content
													img(src="img/aseguradoras/condusef.svg" class="logo-add")
											.descripcion
												.content
													span 9.7 Servicio
										.fila
											.nombre
												.content
													span.dental Seguro Salud Bucal
											.descripcion
												.content
													span Incluído
								.fila
									.logo.imgCenter
										img(src="img/aseguradoras/qualitas-color.svg")
									.precio
										label Precio Original
										span.precio $7,499.00
									.ver-cobertura
										a.btn-orange(href="#") Ver cobertura
									.contratar
										a.btn-orange(href="conductor.html") Contratar
									.detalles-cobertura
										.fila
											.nombre
												.content
													label Responsabilidad Civil
													span Bienes y Personas
											.descripcion
												.content
													span $500,000.00
										.fila
											.nombre
												.content
													label Responsabilidad Civil
													span Catastrófica
											.descripcion
												.content
													span $1,000,000.00
										.fila
											.nombre
												.content
													span Asistencia Vial y Viajes
											.descripcion
												.content
													span No amparada
										.fila
											.nombre
												.content
													span Defensa Jurídica
											.descripcion
												.content
													span Amparada
								.fila
									.logo.imgCenter
										img(src="img/aseguradoras/gnp-color.svg")
									.precio
										label Precio Original
										span.precio $7,499.00
									.ver-cobertura
										a.btn-orange(href="#") Ver cobertura
									.contratar
										a.btn-orange(href="conductor.html") Contratar
									.detalles-cobertura
										.fila
											.nombre
												.content
													label Responsabilidad Civil
													span Bienes y Personas
											.descripcion
												.content
													span $1,000,000.00
										.fila
											.nombre
												.content
													label Responsabilidad Civil
													span Catastrófica
											.descripcion
												.content
													span $2,000,000.00
										.fila
											.nombre
												.content
													span Asistencia Vial y Viajes
											.descripcion
												.content
													span Amparada
										.fila
											.nombre
												.content
													span Defensa Jurídica
											.descripcion
												.content
													span Amparada
								.fila
									.logo.imgCenter
										img(src="img/aseguradoras/qualitas-color.svg")
									.precio
										label Precio Original
										span.precio $7,499.00
									.ver-cobertura
										a.btn-orange(href="#") Ver cobertura
									.contratar
										a.btn-orange(href="conductor.html") Contratar
									.detalles-cobertura
										.fila
											.nombre
												.content
													label Responsabilidad Civil
													span Bienes y Personas
											.descripcion
												.content
													span $1,000,000.00
										.fila
											.nombre
												.content
													label Responsabilidad Civil
													span Catastrófica
											.descripcion
												.content
													span $2,000,000.00
										.fila
											.nombre
												.content
													span Asistencia Vial y Viajes
											.descripcion
												.content
													span Amparada
										.fila
											.nombre
												.content
													span Defensa Jurídica
											.descripcion
												.content
													span Amparada

							.half-separator
							.padded
								.row.controls
									.atras
										a.btn-orange.back(href="cotizar.html") < Regresar
					
								
block scriptsFooter
	script.
		$('.detalles-cobertura').hide();
		$('#ocultar-descripcion').click(function(){
			$('.datos-vehiculo .wrapper').fadeToggle();
			$('#ocultar-descripcion').toggleClass('fa-angle-down');
			$('.datos-vehiculo').toggleClass('no-padded');
		});
		$('.ver-cobertura a').click(function(e){
			e.preventDefault();
			$(this).parent().parent().toggleClass('active');
			console.log($(this).parent().next().next().fadeToggle());
			if($(this).parent().parent().hasClass('active'))
				$(this).text('Ocultar');
			else
				$(this).text('Ver cobertura');
		});
		$('body').addClass('modal-open');
		setTimeout(function (){
			$('.cargando-container').fadeOut();
			$('body').removeClass('modal-open');
		},2000);
