extends partials/_layout
block scriptsHead
	title Easy Insurance | Cotizar
	link(rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
	link(rel="stylesheet" href="css/styles-admin.css")
block menu
	ul
		li
			a(href="./" ) Inicio
		li
			a(href="servicios.html" ) Servicios
		li
			a(href="nosotros.html") Nosotros
		li
			a(href="../#aseguradoras") Aseguradoras
		li
			a(href="#contacto") Contacto
		li
			a(href="#" class="active") Cotizar
block content
	section.cotizar
		.wrapper
			.inner
				.steps-container.row-inline
					.step.cotizar.active
						.imgCenter
							img(src="img/easy_insurance-cotiza_tu_vehiculo.jpg")
						.cover
							.center
								span Cotizar
							.triangle
					.step.conductor
						.imgCenter
							img(src="img/easy_insurance-datos_del_conductor.jpg")
						.cover
							.center
								span Conductor
					.step.emitir
						.imgCenter
							img(src="img/easy_insurance-emite_tu_poliza.jpg")
						.cover
							.center
								span Emitir
				.content.background-gray
					.half-separator
					form.cotizador(id="datosGenerales" method="POST" action="cotizaciones.html")
						.row-equal.datos-vehiculo
							.col13
								.half-separator
								h1.center
									span.rwd-line Datos Generales
									span.rwd-line del vehículo
							.col13
								.container
									.imgCenter
										img(src="img/iconos/sexo.svg")
									h3.center
										span sexo
									.input.center
										select(name="sexo" required)
											option(selected hidden  value="") - Seleccionar -
											option(value="Masculino") Masculino
											option(value="Femenino") Femenino
							.col13
								.container
									.imgCenter
										img(src="img/iconos/fecha_nacimiento.svg")
									h3.center
										span Fecha de nacimiento
									.input.center
										input(type="text" name="nacimiento" placeholder="DD-MM-AAA" required id="fecha-nacimiento")
							.col13
								.container
									.imgCenter
										img(src="img/iconos/tipo_auto.svg")
									h3.center
										span tipo de auto
									.input.center
										select(name="tipo-auto" required)
											option(selected hidden  value="") - Seleccionar -
											option(value="Ejemplo") Ejemplo
							.col13
								.container
									.imgCenter
										img(src="img/iconos/marca.svg")
									h3.center
										span marca
									.input.center
										select(name="marca" required)
											option(selected hidden value="") - Seleccionar -
											option(value="Ejemplo") Ejemplo
							.col13
								.container
									.imgCenter
										img(src="img/iconos/anio.svg")
									h3.center
										span año
									.input.center
										select(name="anio-vehiculo" required)
											option(selected hidden  value="") - Seleccionar -
											option(value="Ejemplo") Ejemplo
							.col13
								.container
									.imgCenter
										img(src="img/iconos/modelo.svg")
									h3.center
										span modelo
									.input.center
										select(name="modelo" required)
											option(selected hidden  value="") - Seleccionar -
											option(value="Ejemplo") Ejemplo
							.col13
								.container
									.imgCenter
										img(src="img/iconos/version.svg")
									h3.center
										span versión
									.input.center
										select(name="version" required)
											option(selected hidden  value="") - Seleccionar -
											option(value="Ejemplo") Ejemplo
							
							
							.col13
								.container
									.imgCenter
										img(src="img/iconos/codigo_postal.svg")
									h3.center
										span código postal
									.input.center
										input(type="number" name="codigo_postal" minlength="4" required)
						.half-separator
						.row
							input(type="submit" value="Siguiente >")
						.half-separator
block scriptsFooter
	script(type="text/javascript" src="js/jquery.validate.min.js")
	script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
	script.
		$('#datosGenerales').validate({
			rules:{
				dia:{
					required: true,
					max: 31,
					minlength: 2
				},
				mes:{
					required: true,
					max: 12,
					minlength: 2
				}
			}
		});
		jQuery.extend(jQuery.validator.messages, {
			required: "Este campo es requerido",
			maxlength: jQuery.validator.format("Maximo {0} caracteres"),
			minlength: jQuery.validator.format("Al menos {0} caracteres"),
			max: jQuery.validator.format("Valor máximo {0}"),
			min: jQuery.validator.format("Valor mínimo {0}"),
		});
	script.
		$( "#fecha-nacimiento" ).datepicker({
			changeMonth: true,
			changeYear: true
		});