extends partials/_layout
block scriptsHead
	title Easy Insurance | Emitir
	link(rel="stylesheet" href="css/styles-admin.css")
block menu
	ul
		li
			a(href="./" ) Inicio
		li
			a(href="servicios.html" ) Servicios
		li
			a(href="nosotros.html") Nosotros
		li
			a(href="../#aseguradoras") Aseguradoras
		li
			a(href="#contacto") Contacto
		li
			a(href="#" class="active") Cotizar
block content
	section.emitir
		.wrapper
			.inner.background-gray
				.steps-container.row-inline
					.step.cotizar
						.imgCenter
							img(src="img/easy_insurance-cotiza_tu_vehiculo.jpg")
						.cover
							.center
								span Cotizar
							
					.step.conductor
						.imgCenter
							img(src="img/easy_insurance-datos_del_conductor.jpg")
						.cover
							.center
								span Conductor
							.triangle 
					.step.emitir.active
						.imgCenter
							img(src="img/easy_insurance-emite_tu_poliza.jpg")
						.cover
							.center
								span Emitir
							.triangle
				.padded.datos-vehiculo
					form.cotizador#datos-vehiculo(method="POST" action="metodo-pago.html")
						.row-inline
							.col12
								.container
									.imgCenter
										img(src="img/iconos/numero_serie.svg")
									h3.center
										span Nº de serie
									input(type="number" name="numero-serie" required)
							.col12
								.container
									.imgCenter
										img(src="img/iconos/placas.svg")
									h3.center
										span Placas
									input(type="text" name="placas" required)
						.half-separator
						.row.controls
							.atras
								a.btn-orange.back(href="cotizaciones.html") < Regresar
							.continuar
								input(type="submit" value="Continuar >")
block scriptsFooter
	script(type="text/javascript" src="js/jquery.validate.min.js")
	script.
		$('#datos-vehiculo').validate();
		jQuery.extend(jQuery.validator.messages, {
			required: "Este campo es requerido",
		});

