doctype html
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", type="text/css", href="css/normalize.css" )
		link(rel="stylesheet", type="text/css", href="css/styles.css?1.0.0" )
		link(rel="stylesheet", type="text/css", href="css/font-awesome.min.css" )
		link(rel="stylesheet", type="text/css", href="css/aos.css" )
		link(rel="shortcut icon" href="img/favicon.png")
		base(href="http://easy-insurance.opuntialabs.com/" target="_self")
	body
		.wrap-content
			.inner
				.gracias-por-tu-pago
					.image-logo
						a(href="./")
							img(src="img/easy_insurance-seguros.png")
					.separator
					h1.title Gracias por tu pago
					.half-separator
					p.description.white
						span.rwd-line Hemos enviado tu póliza y comprobante de pago a tu correo.
						span.rwd-line Cualquier duda escríbenos a clientes@easyinsurance.mx
					.separator
					a.btn-orange(href="./") Volver a inicio
			.bottom_footer
				.inner.row-inline
					.metodos_pago
						img(src="img/metodos-pago/visa.svg")
						img(src="img/metodos-pago/master_card.svg")
						img(src="img/metodos-pago/american_express.svg")
						img(src="img/metodos-pago/oxxo.svg")
					.avisos
						ul
							li
								a(href="aviso-de-privacidad.html") Aviso de privacidad
							li
								a(href="terminos-y-condiciones.html") Términos y Condiciones
					.social-media
						ul
							li
								a(href="#")
									i(class="fa fa-facebook" aria-hidden="true")
							li
								a(href="#")
									i(class="fa fa-twitter" aria-hidden="true")
							li
								a(href="#")
									i(class="fa fa-instagram" aria-hidden="true")

			script(type="text/javascript" src="js/jquery-3.2.1.min.js")
			script(type="text/javascript" src="js/aos.js")
			