extends partials/_layout
block scriptsHead
	title Easy Insurance | Inicio
	link(rel="stylesheet", type="text/css", href="js/slick/slick.css")
	link(rel="stylesheet", type="text/css", href="js/slick/slick-theme.css")
block menu
	ul
		li
			a(href="#" class="active") Inicio
		li
			a(href="servicios.html") Servicios
		li
			a(href="nosotros.html") Nosotros
		li
			a(href="../#aseguradoras") Aseguradoras
		li
			a(href="#contacto") Contacto
		li
			a(href="cotizar.html") Cotizar
block content
	section.inicio
		.slider-container
			.slide.slide-1
				.caption
					.container
						h3 No te compliques usa
						.imgCenter
							img(src="img/easy_insurance-logo-2.svg")
						.half-separator
						.center
							a(class="btn-orange" href="cotizar.html") Contrata ahora
			.slide.slide-2
				.caption
					.container
						h3.inline
							span.rwd-line Cotiza tu seguro fácil y rápido
						.row-inline
							h3 usa 
							.imgCenter.inline
								img(src="img/easy_insurance-logo-2.svg")
						.half-separator
						.center
							a(class="btn-orange" href="cotizar.html") Contrata ahora
			.slide.slide-3
				.caption
					.container
						.row-inline
							h3 En
							.imgCenter.inline
								img(src="img/easy_insurance-logo-2.svg")
							h3 sabemos
						h3 el valor de tu tiempo
						.half-separator
						.center
							a(class="btn-orange" href="cotizar.html") Contrata ahora
	section.cotizar-seguro
		.padded
			.triangle
			h1.center.title cotiza tu seguro
			.steps-container
				.row-inline
					.col15(data-aos="fade-zoom-up" data-aos-duration="1000")
						.center
							.number
								span 1
							.imgCenter
								img(src="img/iconos/easy_insurance-datos_automovil.svg")
							p.center
								span.rwd-line Datos generales
								span.rwd-line del vehículo
					.col15(data-aos="fade-zoom-up" data-aos-duration="1010" )
						.center
							.number
								span 2
							.imgCenter
								img(src="img/iconos/easy_insurance-datos_seguro.svg")
							p.center
								span.rwd-line Datos generales 
								span.rwd-line del seguro
					.col15(data-aos="fade-zoom-up" data-aos-duration="1020")#aseguradoras
						.center
							.number
								span 3
							.imgCenter
								img(src="img/iconos/easy_insurance-datos_automovilista.svg")
							p.center
								span.rwd-line Datos generales 
								span.rwd-line del conductor
					.col15(data-aos="fade-zoom-up" data-aos-duration="1030")
						.center
							.number
								span 4
							.imgCenter
								img(src="img/iconos/easy_insurance-emision_poliza.svg")
							p.center
								span.rwd-line Datos para 
								span.rwd-line emisión
					.col15(data-aos="fade-zoom-up" data-aos-duration="1040")
						.center
							.number
								span 5
							.imgCenter
								img(src="img/iconos/easy_insurance-pago_poliza.svg")
							p.center
								span.rwd-line Realizar 
								span.rwd-line pago
			.half-separator
	
	section.aseguradoras
		.padded
			h3.title.center Aseguradoras
			.title-line
			.half-separator
			.slide-aseguradoras
				.imgCenter
					img(src="img/aseguradoras/gnp.svg")
				.imgCenter
					img(src="img/aseguradoras/aba.svg")
				.imgCenter
					img(src="img/aseguradoras/axa.svg")
				.imgCenter
					img(src="img/aseguradoras/zurich.svg")
				.imgCenter
					img(src="img/aseguradoras/hdi.svg")
				.imgCenter
					img(src="img/aseguradoras/qualitas.svg")
				.imgCenter
					img(src="img/aseguradoras/atlas.svg")
	section.nuestros-servicios
		.padded
			h2.title.orange.lines.center
				span Conoce nuestros servicios
			.half-separator
			.row-inline
				.col14
					.container
						h2.center Cotización de seguros
						.line-title
						p.center Cotiza fácil y rápido tu seguro de auto con las mejores tarifas del mercado y múltiples métodos de pago.
						br
						br
						.imgCenter
							img(src="img/iconos/easy_insurance-cotizacion_seguros.svg")
						a(href="servicios.html").mas
							.mas
								span +
				.col14
					.container
						h2.center Venta de seguros
						.line-title
						p.center Deja de hacer largas filas en los bancos o manejar hasta tu aseguradora y adquiere tu seguro de auto al instante.
						br
						br
						.imgCenter
							img(src="img/iconos/easy_insurance-venta_seguros.svg")
						a(href="servicios.html").mas
							.mas
								span +
				.col14
					.container
						h2.center Asesoría personalizada
						.line-title
						p.center El personal de Easy insurance  resuelve tus dudas sobre tu seguro de autos, no dudes en preguntar.
						br
						br
						.imgCenter
							img(src="img/iconos/easy_insurance-asesoria_personalizada.svg")
						
						a(href="servicios.html").mas
							.mas
								span +
				.col14
					.container
						h2.center Administración de tu póliza
						.line-title
						p.left Con Easy Insurance es fácil revisar tus pólizas, ingresa tu correo electrónico y nosotros te las enviamos.
						br
						br
						.imgCenter
							img(src="img/iconos/easy_insurance-administracion_poliza.svg")
						a(href="servicios.html").mas
							.mas
								span +
//-	section.mision-vision
		.inner
			.row-equal
				.col12
					.inner
						.content
							h3.center.lines.title.orange 
								span Visión
							br
							br
							p.description.left
								span.rwd-line Ser la empresa <strong> insuretech </strong> más inclusiva y que aporta más valor en 
								span.rwd-line el mercado a sus clientes y colaboradores, por medio del uso de 
								span.rwd-line <strong> tecnología financiera innovadora.</strong>
				.col12
					.imgCenter
						img(src="img/mision-easy_insurance.jpg")
			.clear
			.row-equal
				.col12
					.imgCenter
						img(src="img/vision-easy_insurance.jpg")
				.col12
					.inner
						.content
							h3.center.lines.title.orange 
								span Misión
							br
							br
							p.description.left
								span.rwd-line Lograr los <strong>mayores beneficios</strong> y la <strong>mejor experiencia</strong> en la compra 

								span.rwd-line del seguro de auto para nuestros clientes a través del uso de 
								span.rwd-line <strong> tecnología financiera innovadora.</strong>
	

							

block scriptsFooter
	script(type="text/javascript" src="js/slick/slick.min.js")
	script.
		$('.slide-aseguradoras').slick({
			autoplay:true,
			infinite: true,
			speed: 300,
			slidesToShow: 4,
			cssEase: 'linear',
			responsive:[{
				breakpoint:599,
				settings:{
					slidesToShow:1,
					slidesToScroll: 1,
					speed: 500,
					autoplaySpeed:1000,
				}
			}
			]
		});
		$('.slider-container').slick({
			autoplay:true,
			infinite: true,
			speed: 300,
			dots: true,
			arrows:false,
		});
		/**********SLIDES RESPONSIVE***********/
		if($(window).width() < 599){
			responsiveSlides();
		}
		var resizeSlide = _.debounce(function(){
			responsiveSlides();

		}, 300);
		$(window).resize(resizeSlide);
		function responsiveSlides(){
			if($(window).width() < 599){
				$('.steps-container .row-inline').slick({
					autoplay:true,
					infinite: true,
					speed: 200,
					cssEase: 'ease-in-out',
				});
				$('.nuestros-servicios .row-inline').slick({
					autoplay:true,
					dots: true,
					arrows:false,
					cssEase: 'ease-in-out',
				});

			}
			else{
				$('.steps-container .row-inline').slick('unslick');
				$('.nuestros-servicios .row-inline').slick('unslick');
			}
		}
	