extends partials/_layout
block scriptsHead
	title Easy Insurance | Iniciar Sesión
block content
	section.login
		.wrapper
			.imgCenter
				img.img-container(src="img/background-login.jpg")
			.title-container
				h1
					span.rwd-line Iniciar
					span.rwd-line sesión
			.container-form
				.imgCenter
					img(src="img/iconos/easy_insurance-usuario.svg")
				.half-separator
				.form
					form
						input(type="text" placeholder="Usuario")
						input(type="password" placeholder="Contraseña")
						input(type="submit" value="Login")
						.row-inline
							.checkbox
								input(type="checkbox" name="recordarUsuario" id="recordar-usuario")
								label(for="recordar-usuario")
									span Recordarme
							a(href="#") ¿Olvidaste tu contraseña?
block scriptsFooter
	script.
		$('.footer-wrapper').hide();
