extends partials/_layout
block scriptsHead
	title Easy Insurance | Método de pago
	link(rel="stylesheet" href="css/styles-admin.css")
block menu
	ul
		li
			a(href="./" ) Inicio
		li
			a(href="servicios.html" ) Servicios
		li
			a(href="nosotros.html") Nosotros
		li
			a(href="../#aseguradoras") Aseguradoras
		li
			a(href="#contacto") Contacto
		li
			a(href="#" class="active") Cotizar
block content
	section.cotizaciones.metodo-pago
		.wrapper
			.inner
				.steps-container.row-inline
					.step.cotizar
						.imgCenter
							img(src="img/easy_insurance-cotiza_tu_vehiculo.jpg")
						.cover
							.center
								span Cotizar
							.triangle
					.step.conductor
						.imgCenter
							img(src="img/easy_insurance-datos_del_conductor.jpg")
						.cover
							.center
								span Conductor
					.step.emitir.active
						.imgCenter
							img(src="img/easy_insurance-emite_tu_poliza.jpg")
						.cover
							.center
								span Emitir
				.content
					.datos-vehiculo
						.wrapper
							.marca
								h3 Marca
								p Jeep
							.submarca
								h3 Submarca
								p Patriot
							.anio
								h3 Año
								p 2010
							.codigo-postal
								h3 Código Postal
								p 44510
							.genero
								h3 Género
								p Mujer
							.aseguradora
								h3 Aseguradora
								.imgLeft
									img(src="img/aseguradoras/gnp.svg")
							.total
								h3 Total
								p $7,499.00
							.cobertura
								h3 Cobertura
								p Amplia
							.tipo-pago
								h3 Tipo de pago
								p Anual
							.uso
								h3 Uso
								p Particular
						.ocultar-descripcion
							i(class="fa fa-angle-up" aria-hidden="true" id="ocultar-descripcion")
					.metodos-pago
						.wrapper
							.ordenar
								h1.title Forma de pago
							.half-separator
							.row-inline
								.pago-tarjeta
									.line-title
										h2 Tarjeta de crédito / débito
										img(src="img/iconos/metodos_de_pago.svg")
									form.cotizador#card-form(action='gracias-por-tu-pago.html', method='POST')
										span.card-errors
										div
											label
												span Nombre del tarjetahabiente
												input(type='text', size='20', data-conekta='card[name]', name="nombre_tarjeta")
										div
											label
												span Número de tarjeta de crédito
												input(type='text', size='20', data-conekta='card[number]',name="numero_tarjeta")
										.row-inline
											.col12
												label
													span CVC
													input(type='text', size='4', data-conekta='card[cvc]',name="cvc")
											.col12

												label
													span Fecha de expiración (MM/AAAA)
												.fecha_expiracion.row-inline
													input(type='text', size='2', data-conekta='card[exp_month]')
													span /
													input(type='text', size='4', data-conekta='card[exp_year]')
										p.terminos.right
											span.rwd-line *Tu póliza y recibo se enviarán al correo electrónico ingresado previamente.
											span.rwd-line *Al pagar aceptas nuestros <a href="./terminos-y-condiciones.html" target="_blank">Términos y condiciones</a>.
										.right
											button.btn-orange(type='submit') Pagar
								.pago-oxxo
									.line-title
										h2 Ficha de pago
										img(src="img/metodos-pago/oxxo.svg")
									form.cotizador#oxxo-form(action='gracias-por-tu-pago-oxxo.html', method='POST')
										span.card-errors
										div
											label
												span Correo electrónico
												input(type='text', size='20', data-conekta='card[name]', name="email")
										p.terminos.right
											span.rwd-line *Tu póliza y recibo se enviarán al correo electrónico ingresado previamente.
											span.rwd-line *Al pagar aceptas nuestros <a href="./terminos-y-condiciones.html" target="_blank">Términos y condiciones</a>.
										.right
											button.btn-orange(type='submit') Generar ficha
							.half-separator
							.row.controls.padded
								.atras
									a.btn-orange.back(href="emitir.html") < Regresar
					
								
block scriptsFooter
	script(type="text/javascript" src="js/jquery.validate.min.js")
	script.
		$('#ocultar-descripcion').click(function(){
			$('.datos-vehiculo .wrapper').fadeToggle();
			$('#ocultar-descripcion').toggleClass('fa-angle-down');
			$('.datos-vehiculo').toggleClass('no-padded');
		});
		$('#card-form').validate({
			rules: {
				email: {
					required: true,
					email: true
				},
				nombre_tarjeta:{
					required: true,
				},
				numero_tarjeta:{
					required: true,
					minlength:16,
					maxlength:16,
				},
				cvc:{
					required:true,
					minlength:3,
					maxlength:4
				}
			},
			messages: {
				numero_tarjeta: "Escribe tu nombre.",
			}
		});
		$('#oxxo-form').validate({
			rules: {
				email: {
					required: true,
					email: true
				},
			},
			messages: {
				email: {
					required: "Necesitamos un email para contactarte.",
					email: "Formato: tunombre@domain.com"
				}

			}
		});
		jQuery.extend(jQuery.validator.messages, {
			required: "Este campo es requerido",
			maxlength: jQuery.validator.format("Maximo {0} caracteres"),
			minlength: jQuery.validator.format("Al menos {0} caracteres")
		});

