extends partials/_layout
block scriptsHead
	title Easy Insurance | Nosotros
block menu
	ul
		li
			a(href="index.html") Inicio
		li
			a(href="servicios.html") Servicios
		li
			a(href="#" class="active") Nosotros
		li
			a(href="../#aseguradoras") Aseguradoras
		li
			a(href="#contacto") Contacto
		li
			a(href="cotizar.html") Cotizar
block content
	section.servicios
		.header-container
			.imgCenter
				img(src="img/easy_insurance-nosotros.jpg")
			.title-container
				h1 
					span Nosotros
		.content.background-gray
			.separator
			.padded
				p.description.center 
					span.rwd-line Easy Insurance empezó como un proyecto escolar en la clase de innovación de productos y servicios, en el año 2016. 
					span.rwd-line Todo empezó como una idea, pero al momento de culminar el proyecto se vio que el mercado de seguros no es inclusivo 
					span.rwd-line y hay un rezago en la cantidad de agentes de seguros. En Mayo de 2016 se empezó a trabajar en el desarrollo 
					span.rwd-line de la herramienta y al principio empezamos vendiendo uno por uno. En la actualidad 1 año después de nuestra 
					span.rwd-line fundación nos encontramos disponible para el público en el sitio web, contamos con una fuerza de ventas 
					span.rwd-line con dispositivos móviles ofreciendo seguros y algunos puntos de venta. 
				.separator
	section.mision-vision
		.inner
			.row-equal
				.col12
					.inner
						.content
							h3.center.lines.title.orange 
								span Visión
							br
							br
							p.description.left
								span.rwd-line Ser la empresa <strong> insuretech </strong> más inclusiva y que aporta más valor en 
								span.rwd-line el mercado a sus clientes y colaboradores, por medio del uso de 
								span.rwd-line <strong> tecnología financiera innovadora.</strong>
				.col12
					.imgCenter
						img(src="img/mision-easy_insurance.jpg")
			.clear
			.row-equal
				.col12
					.imgCenter
						img(src="img/vision-easy_insurance.jpg")
				.col12
					.inner
						.content
							h3.center.lines.title.orange 
								span Misión
							br
							br
							p.description.left
								span.rwd-line Lograr los <strong>mayores beneficios</strong> y la <strong>mejor experiencia</strong> en la compra 
								span.rwd-line del seguro de auto para nuestros clientes a través del uso de 
								span.rwd-line <strong> tecnología financiera innovadora.</strong>
	section.preguntas-frecuentes
		.content.background-gray
			.padded
				.title-container
				h2.title.orange 
					span Preguntas frecuentes
				.half-separator
				.preguntas-container
					.pregunta
						h4 ¿Qué es un seguro?
						i(class="fa fa-servicio fa-plus-square" aria-hidden="true")
						.respuesta
							p.description Es un medio para transferir el riesgo de ciertas situaciones a una aseguradora, que en caso de un siniestro ellos garantizan el pago de tu accidente. Puede asegurar casi todo, desde tu carro hasta tu mascota.
					.pregunta
						h4 ¿Qué es el seguro de auto?
						i(class="fa fa-servicio fa-plus-square" aria-hidden="true")
						.respuesta
							p.description Es un medio para proteger el vehículo, a los ocupantes y a terceras personas involucradas en caso de algún accidente imprevisto.
					.pregunta
						h4 ¿Qué es un seguro de RC?
						i(class="fa fa-servicio fa-plus-square" aria-hidden="true")
						.respuesta
							p.description El seguro de RC o Responsabilidad Civil cubre los daños del tercero afectado y a partir de 2017 es obligatorio para los autos modelo 2002 en adelante.
					.pregunta
						h4 ¿Cuál es el seguro de cobertura limitada?
						i(class="fa fa-servicio fa-plus-square" aria-hidden="true")
						.respuesta
							p.description Este tipo de seguro cubre daños a terceros como el de responsabilidad civil, pero además cubre el robo total del vehículo asegurado.
					.pregunta
						h4 ¿Cuál es el seguro de cobertura amplia?
						i(class="fa fa-servicio fa-plus-square" aria-hidden="true")
						.respuesta
							p.description Es el seguro más completo, porque cubre daños a terceros, robo total o parcial y los daños del vehículo asegurado. En el caso de necesitar cubrir el daño propio únicamente se tiene que pagar un deducible.
					.pregunta
						h4 ¿Qué es el deducible?
						i(class="fa fa-servicio fa-plus-square" aria-hidden="true")
						.respuesta
							p.description El deducible es una cantidad que se le tiene que pagar a la aseguradora en caso de tener un accidente, se conocen como los primeros gastos de una póliza y los tiene que absorber el contratante del seguro.
					.pregunta
						h4 ¿Qué es un siniestro?
						i(class="fa fa-servicio fa-plus-square" aria-hidden="true")
						.respuesta
							p.description Es la forma en que las aseguradoras de llaman a un accidente imprevisto en el que se daña el bien o la persona asegurada.
					.pregunta
						h4 ¿Cuáles son los métodos de pago de Easy Insurance?
						i(class="fa fa-servicio fa-plus-square" aria-hidden="true")
						.respuesta
							p.description En Easy Insurance contamos con varios métodos de pago que incluyen: tarjetas de crédito o débito, oxxo pay, depósito en sucursal bancaria o en la aseguradora.
					.pregunta
						h4 ¿Se puede contratar el seguro por menos de un año?
						i(class="fa fa-servicio fa-plus-square" aria-hidden="true")
						.respuesta
							p.description No se puede contratar el seguro por menos de un año, pero se puede elegir pagar mensual, trimestral o semestral para aligerar la carga económica de nuestros clientes.
					.pregunta
						h4 ¿Qué hacer en caso de un siniestro?
						i(class="fa fa-servicio fa-plus-square" aria-hidden="true")
						.respuesta
							p.description Llama directamente a la aseguradora, en tu póliza viene el número de la aseguradora y el número de tu póliza con el cual hacer válido tu seguro.
					.pregunta
						h4 ¿Qué hacer en caso de perder mi póliza?
						i(class="fa fa-servicio fa-plus-square" aria-hidden="true")
						.respuesta
							p.description En el portal de easy insurance puedes solicitar tu póliza en cualquier momento únicamente ingresando tu correo electrónico.
					.pregunta
						h4 ¿De qué depende el precio de tu seguro?
						i(class="fa fa-servicio fa-plus-square" aria-hidden="true")
						.respuesta
							p.description Con el portal siempre puedes personalizar tu seguro y ajustar el precio a tus posibilidades. Depende de varios factores como el tipo de cobertura, tipo de vehículo, modelo, marca y año, adicionalmente influye el estado en el que circula.
					
block scriptsFooter
	script.
		$('.pregunta').click(function(){
			$('.pregunta').removeClass('active');
			$('.pregunta').find('i').removeClass('fa-minus-square');
			$(this).toggleClass('active');
			$(this).find('i').toggleClass('fa-minus-square');
		});