extends partials/_layout
block scriptsHead
	title Easy Insurance | Preguntas Frecuentes
block content
	section.servicios
		.header-container
			.imgCenter
				img(src="img/easy_insurance-preguntas_frecuentes.jpg")
			.title-container
				h1 
					span Preguntas frecuentes
		.content.background-gray
			.separator
			.padded