extends partials/_layout
block scriptsHead
	title Easy Insurance | Servicios
block menu
	ul
		li
			a(href="./" ) Inicio
		li
			a(href="servicios.html" class="active") Servicios
		li
			a(href="nosotros.html") Nosotros
		li
			a(href="../#aseguradoras") Aseguradoras
		li
			a(href="#contacto") Contacto
		li
			a(href="cotizar.html") Cotizar
block content
	section.servicios
		.header-container
			.imgCenter
				img(src="img/header-servicios_easy_insurance.jpg")
			.title-container
				h1 
					span Servicios
		.content.background-gray
			.half-separator
			.padded
				.row-equal.descripcion-servicios
					.col14
						.container
							.title.row-inline
								img(src="img/iconos/easy_insurance-cotizacion_seguros.svg")
								h2 Cotización de seguros
							ul
								li Easy Insurance te ayuda a cotizar de forma fácil y rápido tu seguro de auto
								li Ingresa los datos de tu vehículo
								li Obtén las mejores tarifas con nuestras aseguradoras aliadas 
								li Elige el tipo de seguro y forma de pago
								li Con los 3 datos anteriores obtén tu cotización personalizada 
								

					.col14
						.container
							.title.row-inline
								img(src="img/iconos/easy_insurance-venta_seguros.svg")
								h2 Venta de seguros
							ul
								li Con Easy Insurance deja de hacer largas filas en los bancos o manejar hasta tu aseguradora
								li El proceso de venta de seguros nunca había sido tan sencillo
								li Al momento de recibir tu cotización personalizada elige alguno de nuestros múltiples métodos de pago
								li Recibe la póliza en tu correo electrónico
					.col14
						.container
							.title.row-inline
								img(src="img/iconos/easy_insurance-asesoria_personalizada.svg")
								h2 Asesoría Personalizada
							ul
								li El personal de Easy insurance resuelve tus dudas sobre tu seguro de autos, no dudes en preguntar
								li No te sientes cómodo comprando el seguro por tu cuenta, contacta a nuestro personal de ventas
								li Si quieres cualquier seguro de otro tipo, nuestro equipo te puede asesorar
					.col14
						.container
							.title.row-inline
								img(src="img/iconos/easy_insurance-administracion_poliza.svg")
								h2 Administración de tu póliza
							ul
								li Únicamente ingresando tu correo electrónico, nosotros te hacemos llegar tu póliza
								li Puedes buscar tu seguro desde cualquier dispositivo móvil
								li Con Easy Insurance estas siempre protegido
								li Renovaciones fácil y rápido
				.half-separator
			.row-inline.obten-tu-seguro
				.col13
					.imgCenter
						img(src="img/easy_insurance-cotiza_ya.jpg")
					.btn
						a.btn-orange(href="cotizar.html") ¡Cotiza ya!
				.col13
					.imgCenter
						img(src="img/easy_insurance-contrata_ahora.jpg")
					.btn
						a.btn-orange(href="cotizar.html") Contrata ahora
				.col13
					.imgCenter
						img(src="img/easy_insurance-contactanos.jpg")
					.btn
						a.btn-orange(href="#contacto") Contáctanos

